<nav class="navbar navbar-expand-lg fixed-top navbar-light" data-behavior="navbar">
  <div class="container-fluid">
    <div class="d-flex justify-content-between w-100">
      <div class="navbar-brand" data-behavior="navbar-brand">
        <%= link_to current_project.name, main_app.project_path(current_project), class: 'project-title' %>
        <%= link_to 'javascript:void(0)', class: 'js-try-pro change-project-link', data: { term: 'projects', url: 'https://dradisframework.com/pro/pages/projects.html'}, title: 'Change Project' do %>
          <i class="fa-solid fa-random fa-fw"></i> Change Project
        <% end %>
      </div>
      <div class="d-inline-flex">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" data-behavior="navbar-toggler">
          <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ms-auto mt-lg-0">
            <li class="nav-item search">
              <%= render "layouts/tylium/search" %>
            </li>
            <li class="nav-item">
              <%= link_to main_app.project_upload_manager_path(current_project), class: 'nav-link', title: 'Upload' do %><i class="fa-solid fa-cloud-upload fa-lg"></i> Upload<% end %>
            </li>
            <li class="nav-item">
              <%= link_to main_app.project_export_manager_path(current_project), class: 'nav-link', title: 'Export' do %><i class="fa-regular fa-file-text fa-lg"></i> Export<% end %>
            </li>
            <li class="nav-item">
              <%= link_to main_app.project_qa_issues_path(current_project), class: 'nav-link', title: 'QA' do %>
                <i class="fa-regular fa-handshake fa-lg"></i> QA
              <% end %>
            </li>
            <li class="nav-item notifications dropdown">
              <%= link_to main_app.project_notifications_path(current_project), class: 'nav-link dropdown-toggle', data: { bs_toggle: 'dropdown',  behavior: 'notifications-dropdown close-collapse', project_id: current_project.id }, role: 'button', title: 'Notifications' do %>
                <i class="notifications-bell fa-solid fa-bell fa-lg"><i class="notifications-dot d-none" data-behavior="notifications-dot"></i></i> Notifications
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" data-url="<%= main_app.notifications_path %>"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
