<nav class="navbar navbar-expand-lg fixed-top navbar-light" data-behavior="navbar">
  <div class="container-fluid">
    <div class="d-flex justify-content-between w-100">

      <%= render partial: 'layouts/tylium/navbar/change_project' %>

      <div class="d-inline-flex">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" data-behavior="navbar-toggler">
          <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ms-auto mt-lg-0">

            <li class="nav-item search">
              <%= render "layouts/tylium/search" %>
            </li>

            <li class="nav-item">
              <%= link_to main_app.project_upload_manager_path(current_project), class: 'nav-link', title: 'Upload' do %>
                <i class="fa-solid fa-cloud-upload fa-lg"></i> Upload
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to main_app.project_export_manager_path(current_project), class: 'nav-link', title: 'Export' do %>
                <i class="fa-regular fa-file-text fa-lg"></i> Export
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to main_app.project_qa_issues_path(current_project), class: 'nav-link', title: 'QA' do %>
                <i class="fa-regular fa-handshake fa-lg"></i> QA
              <% end %>
            </li>

            <li class="nav-item dropdown">
              <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-behavior="close-collapse" title="Configuration">
                <i class="fa-solid fa-cog fa-lg"></i> Configuration
              </a>

              <div class="dropdown-menu dropdown-menu-end">
                <% if defined?(Dradis::Pro) %>
                  <%= link_to 'Project properties', main_app.edit_project_path(current_project), data: { turbolinks: false }, class: 'dropdown-item' %>
                  <div class="divider"></div>
                <% end %>

                <%= link_to 'Configure plugins', main_app.project_configurations_path(current_project), class: 'dropdown-item' %>
              </div>
            </li>

            <li class="nav-item notifications dropdown">
              <%=
                link_to main_app.project_notifications_path(current_project),
                  class: 'nav-link dropdown-toggle',
                  data: {
                    bs_toggle: 'dropdown',
                    behavior: 'notifications-dropdown close-collapse',
                    project_id: current_project.id
                  },
                  role: 'button',
                  title: 'Notifications' do %>

                  <i class="notifications-bell fa-solid fa-bell fa-lg"><i class="notifications-dot d-none" data-behavior="notifications-dot"></i></i> Notifications
              <% end %>

              <div class="dropdown-menu dropdown-menu-end" data-url="<%= main_app.notifications_path %>"></div>
            </li>

            <%= render partial: 'layouts/tylium/navbar/help' %>

            <li class="nav-item">
              <%= link_to main_app.logout_path, class: 'nav-link', title: 'Logout', data: { turbolinks: false }  do %>
                <i class="fa-solid fa-sign-out fa-lg"></i> Logout
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
