<div class="main-sidebar" data-behavior="main-sidebar expandable-sidebar" data-storage-key="sidebar-expanded">

  <%= render 'layouts/tylium/sidebar_header' %>

  <div class="project" data-behavior="navbar-brand">
    <div class="project-inner d-flex flex-column">
      <%= link_to current_project.name, main_app.project_path(current_project), class: 'project-title block text-truncate' %>
      <%= link_to current_project.name[0...2], main_app.project_path(current_project), class: 'project-emblem', title: current_project.name %>
      <%= link_to 'javascript:void(0)', class: 'js-try-pro change-project-link', data: { term: 'projects', url: 'https://dradisframework.com/pro/pages/projects.html'}, title: 'Change Project' do %>
        <i class="fa-solid fa-random fa-fw"></i> Change<span> Project</span>
      <% end %>
    </div>
  </div>

  <div class="scrollable-content">
    <ul id="main-menu" class="main-menu">
      <%= content_tag :li, :class => controller_path == 'projects' ? 'active' : '' do %>
        <%= link_to main_app.project_path(current_project), class: 'sidebar-link', data: { behavior: 'sidebar-link' } do %>
          <i class="fa-solid fa-tachometer sidebar-link-icon"></i> <span class="sidebar-link-label">Dashboard</span>
        <% end %>
      <% end %>
      <%= content_tag :li, :class => controller_path.include?('issues') ? 'active' : '' do %>
        <%= link_to main_app.project_issues_path(current_project), class: 'sidebar-link', data: { behavior: 'sidebar-link' } do %>
          <i class="fa-solid fa-bug sidebar-link-icon"></i> <span class="sidebar-link-label">All issues</span>
        <% end %>
      <% end %>
      <%= content_tag :li, :class => controller_path == 'boards' || controller_path == 'cards' ? 'active' : '' do %>
        <%= link_to main_app.project_boards_path(current_project), class: 'sidebar-link', data: { behavior: 'sidebar-link' } do %>
          <i class="fa-brands fa-trello sidebar-link-icon"></i> <span class="sidebar-link-label">Methodologies</span>
        <% end %>
      <% end %>
      <%= content_tag :li, :class => action_name == 'trash' ? 'active' : '' do %>
        <%= link_to main_app.project_trash_path(current_project), class: 'sidebar-link', data: { behavior: 'sidebar-link' } do %>
          <i class="fa-solid fa-trash sidebar-link-icon" aria-hidden="true"></i> <span class="sidebar-link-label">Trash</span>
        <% end %>
      <% end %>
    </ul>

    <%= render 'layouts/tylium/nodes' %>

    <% if content_for?(:sidebar) %>
      <div class="secondary-sidebar mt-4 h-100">
        <%= yield :sidebar %>
      </div>
    <% end %>
  </div>

  <div class="footer d-none d-lg-block">
    <ul>
      <%= content_tag :li, :class => controller_path == 'configurations' ? 'active' : '' do %>
        <%= link_to main_app.project_configurations_path(current_project), class: 'sidebar-link', data: { behavior: 'sidebar-link' } do %>
          <i class="fa-solid fa-cog sidebar-link-icon"></i> <span class="sidebar-link-label">Configuration</span>
        <% end %>
      <% end %>
      <li>
        <%= link_to '#', class: 'sidebar-link dropdown-toggle', data: { bs_toggle: 'dropdown', behavior: 'close-collapse' }, role: 'button', title: 'Help' do %>
          <i class="fa-solid fa-question sidebar-link-icon"></i> <span class="sidebar-link-label">Help</span>
        <% end %>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="javascript:void(0)" class="js-try-pro dropdown-item" data-term="training-course" data-url="https://dradisframework.com/academy/dradis-course/?utm_source=ce&utm_medium=app&utm_campaign=try-pro&utm_term=training-course">Free training course</a>
          <a href="https://dradisframework.com/pro/support/guides/projects/index.html?utm_source=ce&utm_medium=app" target="_blank" class="dropdown-item">Projects 101</a>
          <a href="https://dradisframework.com/pro/support/guides/troubleshooting/index.html?utm_source=ce&utm_medium=app" target="_blank" class="dropdown-item">Troubleshooting</a>
          <div class="divider"></div>
          <a href="javascript:void(0)" class="js-try-pro dropdown-item" data-term="contact-support" data-url="https://dradisframework.com/pro/pages/support.html">Contact support</a>
          <a href="https://evening-hamlet-4416.herokuapp.com/" target="_blank" class="dropdown-item">Chat on Slack</a>
          <a href="https://github.com/dradis/dradis-ce/issues" class="js-hs-beacon dropdown-item">Report an issue</a>
          <a href="http://dradisframework.org/documentation/" target="_blank" class="dropdown-item">Support website</a>
          <a href="https://discuss.dradisframework.org" target="_blank" class="dropdown-item">Community forums</a>
          <div class="divider"></div>
          <a href="https://dradisframework.com/careers/" target="_blank" class="dropdown-item">We're hiring</a>
          <%# FIXME: re-enable Tour %>
          <!--
        <div class="divider"></div>
        <a href="javascript:void(0)" class="js-tour-start dropdown-item">Show Tour</a>
        -->
          <div class="divider"></div>
          <a href="javascript:void(0)" class="js-try-pro dropdown-item" data-term="try-pro" data-url="https://dradisframework.com/pro/pages/upgrade.html">Try Dradis Pro</a>
        </div>
      </li>
      <li>
        <%= link_to main_app.logout_path, class: 'sidebar-link', data: { behavior: 'sidebar-link' } do %>
          <i class="fa-solid fa-sign-out sidebar-link-icon"></i> <span class="sidebar-link-label">Logout</span>
        <% end %>
      </li>
      <li class="version">
        <span>v<%= Dradis::CE.version %></span>
      </li>
    </ul>
  </div>

</div>
