<div class="main-sidebar sidebar-collapsed" data-behavior="main-sidebar sidebar-collapsed">

  <%= render 'layouts/tylium/sidebar_header' %>

  <ul id="main-menu" class="main-menu">
    <%= content_tag :li, :class => controller_name == 'projects' ? 'active' : '' do %>
      <%= link_to main_app.project_path(current_project), class: 'sidebar-link' do %>
        <i class="fa fa-tachometer sidebar-link-icon"></i> <span class="sidebar-link-label">Dashboard</span>
      <% end %>
    <% end %>
    <%= content_tag :li, :class => controller_name == 'issues' ? 'active' : '' do %>
      <%= link_to main_app.project_issues_path(current_project), class: 'sidebar-link' do %>
        <i class="fa fa-bug sidebar-link-icon"></i> <span class="sidebar-link-label">All issues</span>
      <% end %>
    <% end %>
    <%= content_tag :li, :class => controller_name == 'boards' ? 'active' : '' do %>
      <%= link_to main_app.project_boards_path(current_project), class: 'sidebar-link' do %>
        <i class="fa fa-trello sidebar-link-icon"></i> <span class="sidebar-link-label">Methodologies</span>
      <% end %>
    <% end %>
    <%= content_tag :li, :class => action_name == 'trash' ? 'active' : '' do %>
      <%= link_to main_app.project_trash_path(current_project), class: 'sidebar-link' do %>
        <i class="fa fa-trash sidebar-link-icon" aria-hidden="true"></i> <span class="sidebar-link-label">Trash</span>
      <% end %>
    <% end %>
  </ul>

  <%= render 'layouts/tylium/nodes' %>

  <div class="version-wrapper">
    <div class="version">
      <span>v<%= Dradis::CE.version %></span>
    </div>
  </div>
</div>
