<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top instance-nav">
  <div class="container-fluid">
    <% if !defined?(Dradis::Pro) %>
      <%= link_to main_app.project_path(current_project), class: 'navbar-brand' do %>
        <%= image_tag 'logo_small.png', alt: 'Dradis Pro logo', class: 'p-lg-0' %>
      <% end %>
      <%= render partial: 'layouts/hera/navbar/change_project' %>
    <% else %>
      <%= link_to current_user.role?(:contributor) ? main_app.contributors_home_path : main_app.dashboard_path, class: 'navbar-brand' do %>
        <%= image_tag 'dradispro-logo.png', alt: 'Dradis Pro logo', class: 'p-lg-0' %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse" data-behavior="navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <%= content_tag :li, class:'nav-item' << (controller_path == 'dashboard' ? ' active' : '') do %>
            <% link_to 'Dashboard', current_user.role?(:contributor) ? main_app.contributors_home_path : main_app.dashboard_path, class: 'nav-link' %>
          <% end %>
          <% if can?(:read, Team) -%>
            <%= content_tag :li, class: 'nav-item' << (controller_path == 'teams' ? ' active' : '') do %>
              <%= link_to 'Teams', main_app.teams_path, class: 'nav-link' %>
            <% end %>
          <% end %>
          <% if can?(:read, Project)  -%>
            <%= content_tag :li, class: 'nav-item' << (controller_path == 'projects' ? ' active' : '') do %>
              <%= link_to 'Projects', main_app.projects_path, class: 'nav-link' %>
            <% end %>
          <% end -%>

          <%= render 'layouts/mintcreek/integrations_menu' if current_user.role?(:admin) %>
          <%= render 'layouts/mintcreek/tools_menu' %>

          <% if current_user.role?(:admin) -%>
            <%= content_tag :li, class: 'nav-item ' << (controller_path == 'admin/mappings' ? 'active' : '') do %>
              <%= link_to 'Mappings Manager', main_app.admin_mappings_index_path, class: 'nav-link' %>
            <% end %>

            <%= content_tag :li, class: 'nav-item dropdown' << (controller_path.include?('admin/templates') ? ' active' : '') do %>
              <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                id="templatesDropdown" role="button" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Templates
              </a>
              <ul class="dropdown-menu" aria-labelledby="templatesDropdown">
                <li><%= link_to 'Methodologies', main_app.admin_templates_methodologies_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'Notes',         main_app.admin_templates_notes_path,         class: 'dropdown-item' %></li>
                <li><%= link_to 'Projects',      main_app.admin_templates_projects_path,      class: 'dropdown-item' %></li>
                <li><%= link_to 'Reports',       main_app.admin_templates_reports_path,       class: 'dropdown-item' %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Kit Upload',  main_app.admin_templates_kits_path,    class: 'dropdown-item' %>
              </ul>
            <% end %>

            <%= content_tag :li, class: 'nav-item' << (controller_path == 'admin/users' ? ' active' : '') do %>
              <%= link_to 'Users', main_app.admin_users_path, class: 'nav-link' %>
            <% end %>

          <!--
          <%= content_tag :li, class: 'nav-item dropdown' << ( ['admin/analytics', 'admin/configurations'].include?(controller_path) ? ' active' : '') do %>
            <a class="dropdown-toggle" href="javascript:void(0)"
              id="settingsDropdown" role="button"  data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Settings
            </a>
            <div class="dropdown-menu" aria-labelledby="settingsDropdown">
              <%= link_to 'Instance Configuration', main_app.admin_configurations_path, class: 'dropdown-item' %>
              <%= link_to 'Usage Analytics', main_app.admin_analytics_path, class: 'dropdown-item' %>
            </div>
          <% end %>-->
        <% end %>

        <!--
        <% if can?(:read, Project) || can?(:read, Team)  -%>
          <%= content_tag :li, class: '' << (controller_path == 'trash' ? ' active' : '') do %>
            <%= link_to main_app.trash_index_path do %>
              <i class="fa-solid fa-trash d-none <%= class_names('d-lg-inline d-xl-none': current_user.role?(:admin)) %>"></i><span class="d-inline <%= class_names('d-lg-none d-xl-inline': current_user.role?(:admin)) %>">Trash</span>
            <% end %>
          <% end %>
        <% end %> -->
      </ul>
    <% end %>

    <%= render 'layouts/hera/navbar/complementary_nav' %>
  </div>
</nav>