<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top instance-nav">
  <div class="container-fluid">
    <% if !defined?(Dradis::Pro) %>
      <%= link_to main_app.project_path(current_project), class: 'navbar-brand' do %>
        <%= image_tag 'logo_small.png', alt: 'Dradis Pro logo', class: 'p-lg-0' %>
      <% end %>
    <% else %>
      <%= link_to current_user.role?(:contributor) ? main_app.contributors_home_path : main_app.dashboard_path, class: 'navbar-brand' do %>
        <%= image_tag 'dradispro-logo.png', alt: 'Dradis Pro logo', class: 'p-lg-0' %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse" data-behavior="navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <%= content_tag :li, class:'nav-item' << (controller_path == 'dashboard' ? ' active' : '') do %>
            <% link_to 'Dashboard', current_user.role?(:contributor) ? main_app.contributors_home_path : main_app.dashboard_path, class: 'nav-link' %>
          <% end %>
          <% if can?(:read, Team) -%>
            <%= content_tag :li, class: 'nav-item' << (controller_path == 'teams' ? ' active' : '') do %>
              <%= link_to 'Teams', main_app.teams_path, class: 'nav-link' %>
            <% end %>
          <% end %>
          <% if can?(:read, Project)  -%>
            <%= content_tag :li, class: 'nav-item' << (controller_path == 'projects' ? ' active' : '') do %>
              <%= link_to 'Projects', main_app.projects_path, class: 'nav-link' %>
            <% end %>
          <% end -%>

          <%= render 'layouts/mintcreek/integrations_menu' if current_user.role?(:admin) %>
          <%= render 'layouts/mintcreek/tools_menu' %>

          <% if current_user.role?(:admin) -%>
            <%= content_tag :li, class: 'nav-item ' << (controller_path == 'admin/mappings' ? 'active' : '') do %>
              <%= link_to 'Mappings Manager', main_app.admin_mappings_index_path, class: 'nav-link' %>
            <% end %>

            <%= content_tag :li, class: 'nav-item dropdown' << (controller_path.include?('admin/templates') ? ' active' : '') do %>
              <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                id="templatesDropdown" role="button" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Templates
              </a>
              <ul class="dropdown-menu" aria-labelledby="templatesDropdown">
                <li><%= link_to 'Methodologies', main_app.admin_templates_methodologies_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'Notes',         main_app.admin_templates_notes_path,         class: 'dropdown-item' %></li>
                <li><%= link_to 'Projects',      main_app.admin_templates_projects_path,      class: 'dropdown-item' %></li>
                <li><%= link_to 'Reports',       main_app.admin_templates_reports_path,       class: 'dropdown-item' %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Kit Upload',  main_app.admin_templates_kits_path,    class: 'dropdown-item' %>
              </ul>
            <% end %>

            <%= content_tag :li, class: 'nav-item' << (controller_path == 'admin/users' ? ' active' : '') do %>
              <%= link_to 'Users', main_app.admin_users_path, class: 'nav-link' %>
            <% end %>

          <!--
          <%= content_tag :li, class: 'nav-item dropdown' << ( ['admin/analytics', 'admin/configurations'].include?(controller_path) ? ' active' : '') do %>
            <a class="dropdown-toggle" href="javascript:void(0)"
              id="settingsDropdown" role="button"  data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Settings
            </a>
            <div class="dropdown-menu" aria-labelledby="settingsDropdown">
              <%= link_to 'Instance Configuration', main_app.admin_configurations_path, class: 'dropdown-item' %>
              <%= link_to 'Usage Analytics', main_app.admin_analytics_path, class: 'dropdown-item' %>
            </div>
          <% end %>-->
        <% end %>

        <!--
        <% if can?(:read, Project) || can?(:read, Team)  -%>
          <%= content_tag :li, class: '' << (controller_path == 'trash' ? ' active' : '') do %>
            <%= link_to main_app.trash_index_path do %>
              <i class="fa-solid fa-trash d-none <%= class_names('d-lg-inline d-xl-none': current_user.role?(:admin)) %>"></i><span class="d-inline <%= class_names('d-lg-none d-xl-inline': current_user.role?(:admin)) %>">Trash</span>
            <% end %>
          <% end %>
        <% end %> -->
      </ul>
    <% end %>

      <ul class="navbar-nav">
        <li class="nav-item search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </li>
        <% if defined?(Dradis::Pro) %>
          <% if can?(:read, Project) || can?(:read, Team)  -%>
            <%= content_tag :li, class: 'nav-item' << (controller_path == 'trash' ? ' active' : '') do %>
              <%= link_to main_app.trash_index_path, class: 'nav-link' do %>
                <i class="fa-regular fa-trash-can <%= class_names('d-inline': current_user.role?(:admin)) %>"></i>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <li class="nav-item notifications dropdown">
          <%= link_to main_app.notifications_path, class: 'nav-link dropdown-toggle', data: { bs_toggle: 'dropdown', behavior: 'notifications-dropdown close-collapse' }, role: 'button', title: 'Notifications' do %>
            <i class="notifications-bell fa-solid fa-bell"><i class="notifications-dot d-none" data-behavior="notifications-dot"></i></i>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-end" data-url="<%= main_app.notifications_path %>">
          </ul>
        </li>
        <% if defined?(Dradis::Pro) %>
          <!-- Fix design for contributors -->
          <% if current_user.role?(:contributor) -%>
            <div class="contributor-navbar">
              <div class="navbar-text mx-sm-3 p-0">
                <%= avatar_image(current_user, size: 35) %>
                <%= current_user.name %>
              </div>
              <%= link_to 'Logout', main_app.contributors_logout_path, class: 'btn btn-outline-primary' %>
            </div>

          <% else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-circle-question"></i><span class="visually-hidden">Help Menu</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="helpDropdown">
                <li><a class="dropdown-item" href="http://drad.is/l/chat" target="_blank">Chat</a></li>
                <li><a class="dropdown-item" href="mailto:email@securityroots.com?Subject=How%20do%20I..." class="js-hs-beacon">Open a ticket</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="https://dradis.com/support" target="_blank">Support website</a></li>
                <li><a class="dropdown-item" href="https://discuss.dradisframework.org" target="_blank">Community forums</a></li>
              </ul>
            </li>
          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="profileDropdown"
            role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= avatar_image(current_user, size: 32) %>
              <span class="ms-1"><%= current_user.name %></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><%= link_to 'Profile', main_app.profile_path, class: 'dropdown-item js-profile', data: { email: current_user.email } %></li>
              <li><%= link_to 'Notification Settings', main_app.edit_user_preferences_notifications_path, class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li class="logout-link"><%= link_to 'Log out', main_app.logout_path,  class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>