<nav class="navbar navbar-expand navbar-light fixed-top in-project" data-behavior="navbar">
  <div class="container-fluid p-0">
    <% if !defined?(Dradis::Pro) %>
      <%= link_to main_app.project_path(current_project), class: 'navbar-brand' do %>
        <%= image_tag 'logo_small.png', alt: 'Dradis Pro logo', class: 'p-lg-0' %>
      <% end %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <%= content_tag :li, class: class_names('nav-item', active: controller_path == 'projects') do %>
          <% link_to main_app.project_path(current_project), class: 'nav-link', data: { behavior: 'nav-link' } do %>
            <i class="fa-regular fa-folder-open me-md-1" title="Project overview"></i>
            <span>Project overview</span>
          <% end %>
        <% end %>
        <%= content_tag :li, class: class_names('nav-item', active: controller_path == 'issues') do %>
          <%= link_to main_app.project_issues_path(current_project), class: 'nav-link', data: { behavior: 'nav-link' } do %>
            <i class="fa-solid fa-bug me-md-1" title="Issues"></i>
            <span>Issues</span>
          <% end %>
        <% end %>
        <%= content_tag :li, class: class_names('nav-item', active: controller_path == 'methodologies') do %>
          <%= link_to main_app.project_boards_path(current_project), class: 'nav-link', data: { behavior: 'nav-link' } do %>
            <i class="fa-brands fa-trello me-md-1" title="Methodologies"></i>
            <span >Methodologies</span>
          <% end %>
        <% end %>

        <% if defined?(Dradis::Pro) %>
          <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle" id="document-properties-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-file-lines me-md-1" title="Report content"></i>
              <span class="d-none d-lg-block">Report content</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="document-properties-dropdown">
              <li>
                <%= link_to main_app.project_document_properties_path(current_project), class: 'dropdown-item' do %>
                  <span>Document properties</span>
                <% end %>
              </li>
              <li>
                <%= link_to main_app.project_content_blocks_path(current_project), class: 'dropdown-item' do %>
                  <span>Content blocks</span>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
        
        <%= content_tag :li, class: class_names('nav-item', active: controller_path == 'trash') do %>
          <%= link_to main_app.project_trash_path(current_project), class: 'nav-link', data: { behavior: 'nav-link' } do %>
            <i class="fa-solid fa-trash-can me-md-1" title="Project bin"></i>
            <span >Project bin</span>
          <% end %>
        <% end %>
        <div class="vr"></div>
        
        <li class="nav-item">
          <%= link_to main_app.project_upload_manager_path(current_project), class: 'nav-link', title: 'Upload' do %>
            <i class="fa-solid fa-cloud-arrow-up me-md-1" title="Upload"></i>
            <span>Upload</span>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to main_app.project_export_manager_path(current_project), class: 'nav-link', title: 'Export' do %>
            <i class="fa-solid fa-file-export me-md-1" title="Export"></i>
            <span>Export</span>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to main_app.project_qa_issues_path(current_project), class: 'nav-link', title: 'QA' do %>
            <i class="fa-regular fa-handshake me-md-1" title="QA"></i>
            <span>QA</span>
          <% end %>
        </li>
      </ul>

      <% if !defined?(Dradis::Pro) %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= render "layouts/hera/navbar/search" %>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle no-caret-xl" data-bs-toggle="dropdown" data-behavior="close-collapse" title="Configuration">
              <i class="fa-solid fa-cog fa-lg"></i> 
            </a>

            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to 'Configure plugins', main_app.project_configurations_path(current_project), class: 'dropdown-item' %></li>
            </ul>
          </li>
          <li class="nav-item notifications dropdown">
            <%= 
              link_to main_app.project_notifications_path(current_project), 
                class: 'dropdown-toggle', 
                data: { 
                  bs_toggle: 'dropdown', 
                  behavior: 'notifications-dropdown close-collapse',
                  project_id: current_project.id 
                }, 
                role: 'button', 
                title: 'Notifications' do %>
              <i class="notifications-bell fa-solid fa-bell"><i class="notifications-dot d-none" data-behavior="notifications-dot"></i></i>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-end" data-url="<%= main_app.notifications_path %>">
            </ul>
          </li>
          <%= render partial: 'layouts/hera/navbar/help' %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= avatar_image(current_user, size: 32) %>
              <span class="ms-1"><%= current_user.name %></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li>
                <%= link_to main_app.logout_path,  class: 'dropdown-item', data: { turbolinks: false } do %>
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  <span>Logout</span>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
    <!--<%= render partial: 'layouts/tylium/navbar/change_project' %>-->
  </div>
</nav>
