<% content_for :title, 'Login' %>

<h1>Login</h1>

<%= form_tag session_path do %>
  <div class="form-group">
    <%= label_tag :login, 'Username', class: 'col-form-label' %>
    <%= text_field_tag :login, nil, placeholder: 'Choose any user name you want', class: 'form-control', autofocus: true %>
  </div>
  <div class="form-group">
    <%= label_tag :password, nil, class: 'col-form-label' %>
    <%= password_field_tag :password, nil, class: 'form-control' %>
  </div>
  <div class="form-group mb-0 pt-1">
    <%= submit_tag 'Log in', class: 'btn btn-block btn-primary mt-4', data: { behavior: 'animate-click', behavior: 'send' } %>
  </div>
<% end %>
