<%= simple_form_for [current_project, @node, @note] do |f| %>

  <%= f.association :category, collection: Category.all, label_method: :name, prompt: 'Assign note category' %>
  <%=
    f.input :text,
      label: false,
      input_html: {
        class: 'textile',
        data: textile_form_urls.merge({
          allow_dropdown: action_name == 'new',
          autosave_key: "#{current_project.id}-note-#{ @note.persisted? ? "edit-#{@note.id}" : "new-for-#{@node.id}" }",
          behavior: 'auto-save'
        })
      }
  %>

  <% if @note.persisted? %>
    <%= hidden_field :note, :original_updated_at, value: @note.updated_at.to_i %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %> or
    <% if @note.persisted? %>
      <%= link_to 'Cancel', project_node_note_path(@node.project, @node, @note), class: 'cancel-link' %>
    <% else %>
      <%= link_to 'Cancel', project_node_path(@node.project, @node), class: 'cancel-link' %>
    <% end %>
  </div>
<% end %>
