<%
  item_css = ['list-item']
  item_css << ' active' if (request.format.html? and @note == note)
%>

<%= content_tag :div, id: "#{dom_id(note)}_link", class: item_css.join do %>

  <div class="expansion-container">
    <%= link_to project_node_note_path(@node.project, @node, note) do %>
      <i class="fa fa-file-text list-item-icon"></i>
      <%= note.title %>
    <% end %>
  </div>

  <div class="list-item-actions">
    <%= link_to edit_project_node_note_path(@node.project, @node, note), class:'list-item-action-edit' do %>
      <i class="fa fa-pencil"></i> Edit
    <% end %>

    <%= link_to [@node.project, @node, note],
          method: :delete,
          data: { confirm: "Are you sure?\n\n" + 'Proceeding will delete this note from the associated node.' },
          class: 'list-item-action-delete' do %>
      <i class="fa fa-trash"></i> Delete
    <% end %>
  </div>

<% end %>
