<% content_for :title, "#{@node.label} - view note" %>

<% if @conflicting_revisions %>
  <%= render "projects/conflicting_revisions", conflicts: @conflicting_revisions, record: @note %>
<% end %>

<ul class="nav nav-tabs main-tabs">
  <li class="active"><a href="#info-tab" data-toggle="tab"><i class="fa fa-file-text"></i> Information</a></li>
  <li><a href="#activity-tab" data-toggle="tab"><i class="fa fa-refresh"></i> Recent activity</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="info-tab" data-behavior="subscription-actions" data-subscribed="<%= !@subscription.nil? %>">
    <% cache ['note-information-tab', @note] do %>
      <div id="<%= dom_id(@note) %>" class="inner note-text-inner">
        <h3>Content for this note -
          <span class="actions">
            <%= link_to edit_project_node_note_path(@node.project, @node, @note), class: 'action-link' do %>
              <i class="fa fa-pencil"></i> Edit
            <% end %>
            <%= link_to [current_project, @node, @note],
                  class: 'action-link text-error',
                  data: { confirm: "Are you sure?\n\nProceeding will delete this note from the associated node." },
                  method: :delete do %>
              <i class="fa fa-trash"></i> Delete
            <% end %>
            <a href="#modal_move_note" class="action-link" tabindex="-1" data-toggle="modal">
              <i class="fa fa-mail-forward"></i> Move
            </a> -
            <%= render 'subscriptions/actions', subscribable: @note %>
          </span>
        </h3>
        <div class="content-textile">
          <%= markup(@note.text) %>
        </div>
      </div>
    <% end %>

    <div class="inner">
      <%= render 'comments/feed' %>
      <%= render 'subscriptions/feed', subscribable: @note %>
    </div>
  </div>

  <% cache ['note-activity-tab', @note, @activities] do %>
    <div class="tab-pane" id="activity-tab">
      <div class="inner">
        <h3>
          Recent activity -
          <span class="actions">
            <%#
              # Some legacy content was created before paper_trail, so we need to
              # make sure that there is at least one revision associated to the
              # model.
              #%>
            <%= link_to(
                  'revision history',
                  project_node_note_revisions_path(@node.project, @node, @note),
                  class: 'action-link'
                ) if @note.has_revision_history? %>
          </span>
        </h3>
        <%= render 'activities/feed', activities: @activities %>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'notes/modals/move' %>
