<% content_for :title, "#{@node.label} - view note" %>

<% if @conflicting_revisions %>
  <%= render "projects/conflicting_revisions", conflicts: @conflicting_revisions, record: @note %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render partial: 'breadcrumbs' %>
<% end %>

<div class="row m-0">
  <ul class="tabs-container nav nav-tabs main-tabs w-100">
    <li class="nav-item"><a class="nav-link active" href="#info-tab" data-toggle="tab"><i class="fa fa-file-text"></i> Information</a></li>
  </ul>
</div>

<div class="row m-0">
  <div class="col-12 col-xxl-7 p-0">
    <div class="content-container mt-0 pb-3 mr-xxl-3">
      <div class="tab-content mt-0">
        <div class="tab-pane active" id="info-tab">
          <% cache ['note-information-tab', @note] do %>
            <div id="<%= dom_id(@note) %>" class="note-text-inner">
              <h4 class="header-underline">
                <span class="text-truncate" title="Content for this note">Content for this note</span>
                <%= render partial: 'actions' %>
              </h4>
              <div class="content-textile" data-behavior="content-textile">
                <%= markup(@note.text) %>
              </div>
              <div class="author-info">
                <span class="ml-auto">Author: <%= @note.author || 'n/a' %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-xxl-5 p-0">
    <div class="sticky-top">
      <div class="content-container ml-xxl-3 mt-0">
        <%= content_tag :div,
          spinner_tag,
          data: {
            behavior: 'fetch fetch-comments',
            path: comments_path(
              comment: {
                commentable_type: @note.class,
                commentable_id: @note.id
              }
            )
          }
        %>
      </div>

      <div class="content-container ml-xxl-3">
        <%= content_tag :div,
          spinner_tag,
          data: {
            behavior: 'fetch fetch-subscriptions',
            path: subscriptions_path(
              subscription: {
                subscribable_type: @note.class,
                subscribable_id: @note.id
              }
            )
          }
        %>
      </div>
    </div>
  </div>
</div>
