<% content_for :title, 'Dradis Echo Configuration' %>

<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Dashboard', main_app.dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Integration & Tool Manager', main_app.admin_integrations_path %></li>
    <li class="breadcrumb-item active">Echo Configuration</li>
  </ol>
<% end %>

<% content_for :sidebar do %>
  <%= link_to main_app.admin_integrations_path do %><i class="fa-solid fa-arrow-left"></i> Back to Tools Manager<% end -%>
  <hr/>
  <div class="header">
    <div class="header-inner">
      <h5 class="header-name">Echo Configuration Tips</h5>
      <div class="options">
        <%= link_to "#tips", data: { bs_toggle: 'collapse', behavior: 'collapse-collection' } do %>
          <i class="fa-solid fa-chevron-up" data-behavior="toggle-chevron"></i><span class="visually-hidden">Toggle tips</span>
        <% end %>
      </div>
    </div>
  </div>
  <div id="tips" class="page-tips show collapse">
    <div class="bg-info">
      <p>To configure Echo to work with your LLM of choice, first install and run Ollama, then download and run an LLM using Ollama.</p>
      <p>Update the url and model on this page, then navigate to an Issue and explore the Echo tab.</p>
      <p class="text-end card-link">More about <a href="https://dradis.com/support/guides/intelligent_automation/echo/" target="_blank">Echo</a>.</p>
    </div>
  </div>
<% end %>

<h1>Echo</h1>
<h2 class="mb-3">Rewrite, summerize, and standardize your findinds using your LLM of choice</h2>

<div class="accordion mb-4" id="configuration-accordion">
  <div class="accordion-item">
    <h4 class="accordion-header" id="steps-heading" >
      <button 
        class="accordion-button <%= class_names(collapsed: !@model[:default]) %>" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#collapse-steps" 
        aria-expanded="true" 
        aria-controls="collapse-steps" 
        data-bs-toggle="collapse">Configuration Steps
      </button>
    </h4>
    <div 
      id="collapse-steps" 
      class="accordion-collapse collapse <%= class_names(show: @model[:default]) %>" 
      aria-labelledby="steps-heading">
      <div class="accordion-body">
        <ol class="mb-0">
          <li class="mb2">Download and install <a href="https://ollama.com/download" target="_blank">Ollama</a></li>
          <li class="mb2">Start Ollama with <code>$ ollama serve</code></li>
          <li class="mb2">Choose a <a href="https://ollama.com/search" target="_blank">model</a></li>
          <li class="mb2">Run the model with <code>$ ollama run [model-name]:[variant]</code>.
            <ul>
              <li>For example: <code>$ ollama run deepseek-r1:1.5b</code></li>
              <li>The model will be downloaded on first run.</li>
            </li>
          </ul>
          <li class="mb2">Update the form below with:</li>
          <ul>
            <li>Address (from the output of Step 2 - default is <code>http://localhost:11434</code>)</li>
            <li>Model (using the same format as step 4 - for example <code>deepseek-r1:1.5b</code>)</li>
          </ul>
        </ol>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h4 class="accordion-header" id="details-heading">
      <button 
        class="accordion-button" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#collapse-details" 
        aria-expanded="true" 
        aria-controls="collapse-details" 
        data-bs-toggle="collapse">Configuration Details
      </button>
    </h4>
    <div
      id="collapse-details" 
      class="accordion-collapse show"
      aria-labelledby="details-heading">
      <div class="accordion-body">

        <%= form_tag configurations_path, method: :patch, class: 'w-100' do %>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <% @configurations.each do |configuration| %>
                  <%= fields_for "config[#{configuration[:name]}]", configuration do |f| %>
                    <div class="mb-3">
                      <label for="<%= configuration[:name] %>" class="form-label"><%= configuration[:name].to_s.titleize.gsub(':', ' : ') %></label>
                      <%= text_field_tag configuration[:name], configuration[:value], class: 'form-control' %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <%= submit_tag 'Save Configuration', class: 'btn btn-primary' %>
            <%= link_to 'Cancel', main_app.admin_integrations_path(tab: 'tools') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
