<div class="empty-state">
  <div class="empty-state-icon">
    <%= image_tag "icons/#{rand(9)}.svg" %>
  </div>
  <div class="empty-state-body">
    <div class="container">
      <h2 class="empty-state-title">You don't have any <%= name.pluralize %> yet</h2>
      <p class="text-center mb-0"><%= text %></p>
      <div class="empty-state-actions">
        <p>
          Use the 
          <%= link_to 'javascript:void(0)', data: { behavior: "#{name.pluralize}-dropdown-toggle" } do -%>
            <i class="fa fa-plus"></i> sign
          <% end %>
          in the sidebar next to the <%= name.pluralize %> header.
        </p>
        <%= link_to "More about #{name.pluralize}", docs_link, class: 'small mt-4', target: '_blank' %>
      </div>
    </div>
  </div>
</div>
