<% cache ["#{dom_class(items.first).pluralize}-table", columns, items.map(&:id), items.map(&:updated_at).map(&:to_i).sort.last] do %>
  <div class="table-wrapper">
    <table class="table table-striped"
      data-behavior="dradis-datatable"
      data-default-columns='["Title", "Created", "Updated"]'
      data-item-name="<%= items.first.class.name.underscore %>"
      data-local-storage-key="project.ce.<%= items.first.class.name.underscore.pluralize %>_datatable">
      <thead>
        <tr>
          <th class="no-sort" data-column-visible="false"><span class="sr-only">Select</span></th>
          <th class="no-sort" data-column-visible="false"><span class="sr-only">Actions</span></th>
          <% columns.each do |column| %>
            <th><%= column %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% items.each do |item| %>
          <tr id="<%= item.class.name.underscore %>-<%= item.id %>">
            <td class="select-checkbox" data-behavior="select-checkbox"></td>
            <td class="column-actions">
              <%= link_to [:edit, @node.project, @node, item], title: 'Edit' do %>
                <i class="fa fa-pencil"></i><span class="sr-only">Edit</span>
              <% end %>
              <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h fa-lg"></i><span class="sr-only">Toggle column actions menu</span></a>
              <div class="dropdown-menu">
                <%= link_to [@node.project, @node, item], method: :delete, data: { confirm: "Are you sure?\n\nProceeding will delete this item from the associated node." }, class: 'text-error-hover dropdown-item' do %>
                <i class="fa fa-trash fa-fw"></i> Delete
              <% end %>
              </div>
            </div>
              
            </td>
            <% columns.each do |column| %>
              <%
              sort, display =
              case column
              when 'Title'
                [
                  item.title,
                  link_to([@node.project, @node, item]) do
                    icon = ''
                    if item.is_a?(Evidence)
                      icon =
                        colored_icon_for_model(item, 'fa-flag', 'list-item-icon')
                    end
                    icon + ' ' + item.title
                  end
                ]
              when 'Created'
                [item.created_at.to_i, local_time_ago(item.created_at)]
              when 'Created by'
                [item.author, item.author]
              when 'Updated'
                [item.updated_at.to_i, local_time_ago(item.updated_at)]
              else
                [item.fields.fetch(column, ''), markup(item.fields.fetch(column, ''))]
              end
              %>
              <td data-sort="<%= sort %>"><%= display %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
