<div class="comment-feed">
  <% if comments.any? %>
    <% comments.each do |comment| %>
      <%= div_for comment do %>
        <div class="body">
          <%= link_to(avatar_image(comment.user, size: 30), "##{dom_id(comment)}") %>

          <div>
            <% if comment.user %>
              <strong><%= comment.user.email %></strong>
            <% else %>
              a user who has since been deleted
            <% end %>
            <span class="time"><%= local_time_ago(comment.created_at) %></span>
          </div>

          <div class="content">
            <%= comment.content %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p class="no-content">There has been no comments yet.</p>
  <% end %>
</div>
