<% content_for :sidebar do %>

  <div id="<%= dom_id(@node) %>_link" class="note-list">
    <%= content_tag :div, class: current_page?(main_app.project_node_path(@node.project, @node)) ? 'p-2 mb-2 active' : 'p-2 mb-2' do %>
      <%= link_to project_node_path(@node.project, @node), class: 'summary-link' do %>
        <% if @node.type_id == Node::Types::HOST %>
          <i class="fa fa-laptop"></i> Host summary
        <% else%>
          <i class="fa fa-cogs"></i> Node summary
        <% end %>
      <% end %>
    <% end %>
  </div>

  <!-- Notes -->
  <%= render 'shared/sidebar_collection',
        name: 'Notes',
        collection: @sorted_notes,
        new_path: new_project_node_note_path(@node.project, @node),
        category_id: Category.default.id,
        index_path: project_node_path(@node.project, @node, tab: 'notes-tab') %>

  <!-- Issues -->
  <%= render 'shared/sidebar_collection',
        name: 'Evidence',
        collection: @sorted_evidence,
        new_path: new_project_node_evidence_path(@node.project, @node),
        category_id: Category.issue.id,
        index_path: project_node_path(@node.project, @node, tab: 'evidence-tab') %>

  <!-- Attachments -->
  <%= render 'attachments/attachment_box' %>

<% end %>
