<% content_for :title, "#{@node.label} - edit properties" %>

<div id="node_properties_editor">
  <div class="inner note-text-inner">
    <h3>Edit properties</h3>
    <%= simple_form_for @node do |f| %>

      <%= f.input :type_id, collection: [["Default", Node::Types::DEFAULT], ["Host", Node::Types::HOST]], include_blank: false %>

      <%= f.input :raw_properties, as: :text, label: 'Properties', value: @node.raw_properties, input_html: { class: :json, rows: 20 } %>

      <div class="form-actions">
        <%= f.button :submit, nil, class: 'btn btn-dradispro' %> or
        <%= link_to 'Cancel', node_path(@node) %>
      </div>
    <% end %>
  </div>
</div>
