<% content_for :title, "Edit #{@node.label}" %>

<div id="node_properties_editor">
  <div class="inner note-text-inner">
    <h3>Edit <%= @node.label %></h3>
    <%= simple_form_for @node do |f| %>
      <%= f.input :label, label: "New name" %>

      <%= f.input :type_id, collection: [["No icon", Node::Types::DEFAULT], ["Host", Node::Types::HOST]], include_blank: false, label: 'Icon' %>

      <%= f.input :raw_properties, as: :text, label: 'Properties', value: @node.raw_properties, input_html: { class: :json, rows: 20 } %>

      <div class="form-actions">
        <%= f.button :submit, nil, class: 'btn btn-dradispro' %> or
        <%= link_to 'Cancel', node_path(@node) %>
      </div>
    <% end %>
  </div>
</div>
