<% content_for :title, "#{@node.label} - properties" %>

<% icon_class = (@node.type_id == Node::Types::HOST) ? 'fa-laptop' : 'fa-cogs' %>
<ul class="nav nav-tabs main-tabs">
  <li class="active"><a href="#properties-tab" data-toggle="tab"><i class="fa <%= icon_class %>"></i> Properties</a></li>
  <li><a href="#activity-tab" data-toggle="tab"><i class="fa fa-refresh"></i> Recent activity</a></li>
</ul>



<div class="tab-content">
  <div class="tab-pane active" id="properties-tab">
    <div id="<%= dom_id(@node) %>_content">
      <div class="inner">
        <div class="content-textile">
          <h3>Properties - <%= link_to 'edit', edit_node_path(@node) %></h3>

          <% if @node.has_any_property?  %>
            <% @node.properties.sort.each do |key, value| %>
              <% if value.present? %>
                <% if value.is_a?(Array) || value.is_a?(Hash) %>
                  <h4><%= key.to_s.pluralize.titleize %></h4>
                <% else %>
                  <h4><%= key.to_s.titleize.singularize  %></h4>
                <% end %>

                <% if (value.is_a?(Array) && value[0].is_a?(Hash)) || key == 'services' %>
                  <p><%= render_property_table(@node, key) %></p>
                <% else %>
                  <p><%= render_property(@node, key) %></p>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="activity-tab">
    <div class="inner">
      <h3>Recent Activity</h3>
      <%= render 'activities/feed', activities: @activities %>
    </div>
  </div>
</div>
