<% content_for :title, "#{@node.label} - properties" %>

<ul id="node-tabs" class="nav nav-tabs main-tabs">
  <li <%= "class=active" if !params[:tab] || params[:tab] == 'properties-tab' %>>
    <a href="#properties-tab" data-toggle="tab">
    <% if @node.type_id == Node::Types::HOST %>
      <i class="fa fa-laptop"></i> Host properties
    <% else%>
      <i class="fa fa-cogs"></i> Node properties
    <% end %>
    </a></li>
  <li <%= "class=active" if params[:tab] == 'notes-tab' %>>
    <a href="#notes-tab" data-toggle="tab"><i class="fa fa-file-text-o"></i> Notes</a>
  </li>
  <li <%= "class=active" if params[:tab] == 'activity-tab' %>>
    <a href="#activity-tab" data-toggle="tab"><i class="fa fa-refresh"></i> Recent activity</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane <%= "active" if !params[:tab] || params[:tab] == 'properties-tab' %>" id="properties-tab">
    <div class="node-content" id="<%= dom_id(@node) %>_content">
      <div class="inner">
        <h3>Properties - <span class="actions">
          <%= link_to edit_node_path(@node) do %>
            <i class="fa fa-pencil"></i> Edit
          <% end %>
          </span>
        </h3>

        <% if @node.has_any_property?  %>
          <% @node.properties.sort.each do |key, value| %>
            <% present [key, value], PropertyPresenter do |property_presenter| %>
              <h4><%= property_presenter.name %></h4>
              <%= property_presenter.value %>
            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="tab-pane notes <%= "active" if params[:tab] == "notes-tab" %>" id="notes-tab">
    <div class="inner">
      <h3>Notes</h3>
      <div id="note-viewer">
        <div class="inner note-text-inner">
          <% if @sorted_notes.any? %>
            <div id="node-notes-table" class="js-index-table" data-destroy-url="<%= multi_destroy_node_note_path(@node) %>">
              <%= render 'nodes/notes/toolbar' %>
              <%= render 'nodes/notes/table', notes: @sorted_notes %>
            </div>
          <% else %>
            <%= render 'nodes/notes/empty' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane <%= "active" if params[:tab] == "activity-tab" %>" id="activity-tab">
    <div class="inner">
      <%= render partial: 'activity' %>
    </div>
  </div>
</div>
