<ul class="search-nav nav nav-pills span12">
  <li class="active">
    <%= link_to search_filter_path(scope: "") do %>
      All (<%= search.total_count %>)
    <% end %>
  </li>
  <li>
    <%= link_to search_filter_path(scope: "nodes") do %>
      Nodes (<%= search.nodes_count %>)
    <% end %>
  </li>
  <li>
    <%= link_to search_filter_path(scope: "notes") do %>
      Notes (<%= search.notes_count %>)
    <% end %>
  </li>
  <li>
    <%= link_to search_filter_path(scope: "evidences") do %>
      Evidences (<%= search.evidences_count %>)
    <% end %>
  </li>
  <li>
    <%= link_to search_filter_path(scope: "issues") do %>
      Issues (<%= search.issues_count %>)
    <% end %>
  </li>
</ul>

