<% content_for :title, 'Upload Manager' %>

<div class="row m-0">
  <div class="col-lg-6 col-xl-5 p-0">
    <div class="content-container mt-3 mr-lg-3 restrict-height full-height" data-behavior="restrict-height">
      <h4 class="mb-3">Upload Output Files</h4>
      <p>Use the form below to upload output files from other tools.</p>

      <div class="mt-4">
        <%= form_tag project_upload_manager_path(current_project, format: :js), multipart: true, id: 'new_upload', data: { parse_url: project_upload_parse_path(current_project) } do %>
          <div class="form-group mb-5">
            <h5>1. Choose a tool</h5>
            <%= select_tag 'uploader', options_from_collection_for_select(@uploaders, :name, :name), { :class => 'form-control' } %>
          </div>
          <div class="form-group">
            <h5>2. Choose a file</h5>
            <div class="custom-file">
              <%= file_field_tag 'file', class: 'custom-file-input' %>
              <label class="custom-file-label" data-behavior="file-label">Choose file</label>
              <%= hidden_field_tag 'item_id' %>
              <%= hidden_field_tag 'format', 'js' %>
            </div>
          </div>
        <% end %>
            
        <p>Upload progress:</p>
        <div class="progress mb-5">
          <div class="progress-bar progress-bar-striped">
            <div class="percent">0%</div>
          </div>
        </div>

        <div id="status"></div>

        <h5>Output console</h5>
        <%= content_tag :div, id: 'result', style: 'display:none', data: { url: status_console_index_path }  do %>
          <div><strong>Filename</strong>: <span id="filename"></span> <span id="spinner"><%= image_tag 'loading.gif', style: "margin:0;" %></span></div>
          <div><strong>Size</strong>: <span id="filesize"></span></div>
          <div id="console" class="mx-0 mb-0"></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-xl-7 p-0">
    <div class="content-container mt-0 mt-lg-3 ml-lg-3 restrict-height full-height" data-behavior="restrict-height">
      <h4 class="mb-0">Available plugins</h4>

      <div id="plugin-list">
      <table class="table table-striped mb-0">
        <thead>
          <tr>
            <th>Plugin</th>
            <th>Description</th>
            <th>Version</th>
          </tr>
        </thead>
        <tbody>
          <% @uploaders.each do |uploader| %>
            <tr>
              <td><code><%= uploader.name %></code></td>
              <td><%= uploader.meta[:description] %></td>
              <td><%= uploader.meta[:version] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  ConsoleUpdater.jobId = <%= @last_job %>;
</script>
