<% content_for :title, 'Upload Manager' %>

<p>Use the form below to upload output files from other tools.</p>


<section>
  <h2>Choose a file</h2>
  <%= form_tag upload_manager_path(format: :js), multipart: true, id: 'new_upload', data: { parse_url: upload_parse_path() } do %>
    <%= select_tag  'uploader', options_from_collection_for_select(@uploaders, :name, :name) %>
    <%= file_field_tag 'file' %>
    <%= hidden_field_tag 'item_id' %>
    <%= hidden_field_tag 'format', 'js' %>
  <% end %>


  <div class="progress">
      <div class="bar"></div >
      <div class="percent">0%</div >
  </div>

  <div id="status"></div>

  <h2>Output</h2>
  <%= content_tag :div, id: 'result', class: 'file', style: 'display:none', data: { url: upload_status_path }  do %>
    <div><strong>Filename</strong>: <span id="filename"></span> <span id="spinner"><%= image_tag 'loading.gif', style: "margin:0;" %></span></div>
    <div><strong>Size</strong>: <span id="filesize"></span></div>
    <div id="console"></div>
  <% end %>
</section>


<script type="text/javascript" charset="utf-8">
  ConsoleUpdater.jobId = <%= @last_job %>;
</script>

<section>
  <h2>Available plugins</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Plugin</th>
        <th>Description</th>
        <th>Version</th>
      </tr>
    </thead>
    <tbody>
      <% @uploaders.each do |uploader| %>
        <tr>
          <td><code><%= uploader.name %></code></td>
          <td><%= uploader.meta[:description] %></td>
          <td><%= uploader.meta[:version] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
