<span class="actions">
  <span class="action">
    <%= tag_and_name_for(@issue) %>
  </span>
  <span class="action">
    <%= link_to edit_project_issue_path(current_project, @issue) do %>
      <i class="fa fa-pencil fa-fw"></i> Edit
    <% end %>
  </span>
  <div class="dropdown dots-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h fa-lg"></i><span class="sr-only">Toggle menu</span></a>
    <div class="dropdown-menu">
      <%= link_to [current_project, @issue],
        class: 'dropdown-item text-error-hover',
        data: { confirm: "Are you sure?\n\nProceeding will delete this issue and any associated evidence." },
        method: :delete do %>
          <i class="fa fa-trash fa-fw"></i> Delete
      <% end %>
      <%= render partial: 'subscriptions/actions', locals: { subscribable: @issue, dots_menu: true } %>
      <%= render partial: 'send_to_menu' %>
    </div>
  </div>
</span>
