<div id="js-add-evidence-container">
  <%= form_for(
    :evidence,
    url: project_create_multiple_evidence_path(current_project),
    html: { id: 'add-evidences' }
  ) do |f| %>
    <% cache [@issue, @nodes_for_add_evidence ] do %>
      <div class="form-inputs">
        <%= f.hidden_field :issue_id, value: @issue.id %>
        <%= f.hidden_field :node_id %>

        <div class="row">
          <div class="col-4">
            <%= f.label :new_evidence_content %>
            <%= f.collection_select :content,
             NoteTemplate.all,
             :content,
             :name,
             { include_blank: 'Empty (no template)' },
             { :class => 'custom-select' }
            %>
            <pre id="template-content"></pre>
          </div>
          <div class="col-4">
            <%= f.label 'Add to existing nodes', for: :evidence_node %>
            <%= f.text_field :node, class: 'form-control', placeholder: 'Type here to filter list...' %>

            <div id="existing-node-list" class="form-check">
              <%= f.collection_check_boxes(:node_ids, @nodes_for_add_evidence, :id, :label) do |b| %>
                <%= b.check_box class: 'form-check-input' %>
                <%= b.label class: 'form-check-label' %>
                <br>
              <% end %>
            </div>
          </div>
          <div class="col-4">
            <label for="evidence_node_list">Paste list of nodes
              <i
                class="fa fa-question-circle"
                data-toggle="tooltip"
                data-html="true"
                title="<ul><li>If a node from the list already exist in the project evidence will be added to it.</li><li>If a node doesn't exist it will be created and then evidence will be added.</li></ul>"></i>
            </label>
            <%= f.text_area :node_list, rows: 10, placeholder: 'One node per line.' %>

            <%= f.label 'Create new nodes under', for: :evidence_node_list_parent_id %>
            <%= f.collection_select(
              :node_list_parent_id,
              @nodes_for_add_evidence,
              :id,
              :label,
              include_blank: "The root of the tree"
            ) %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit class: 'btn btn-default btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
</div>
