<div id="js-add-evidence-container">
  <%= form_for :evidence, url: create_multiple_evidences_path, html: { id: 'add-evidences' } do |f| %>
    <div class="form-inputs">
      <%= f.hidden_field :issue_id, value: @issue.id %>
      <%= f.hidden_field :content %>
      <%= f.hidden_field :node_id %>
      <%= f.label :note_template %>
      <%= select_tag :evidence_note_template, options_for_select( NoteTemplate.all.map {|t| [t.name, h(t.content)] } ), include_blank: 'Empty (no template)' %>
      <div class="clearfix"></div>
      <div class="row">
        <div class="span3">
          <%= f.label :select_nodes %>
          <%= f.text_field :node, placeholder: 'Filter' %>
          <div id="nodes">
            <%= f.collection_check_boxes(:node_ids, @nodes_for_add_evidence, :id, :label) do |b|
              b.label(class: "checkbox") { b.check_box + b.text}
            end %>
          </div>
        </div>
        <div class="span4">
          <%= f.label 'Enter list of nodes', for: :evidence_node_list %>
          <%= f.text_area :node_list, rows: 10 %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit class: 'btn btn-default btn btn-dradispro' %>
    </div>
  <% end %>
</div>
