<h4 class="header-underline">Evidence information -
  <span class="actions">
    <div class="dropdown">
      <%= link_to 'javascript:void(0)', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
        <i class="fa fa-plus"></i> New Evidence
      <% end %>

      <div class="dropdown-menu">
        <%= link_to 'Blank', new_project_issue_evidence_path(current_project, @issue), class: 'dropdown-item' %>
        <% if @templates.any? %>
          <div class="divider"></div>
          <% @templates.each do |template| %>
            <%= link_to template.name, new_project_issue_evidence_path(current_project, @issue, template: template.id), class: 'dropdown-item' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </span>
</h4>

<% if @issue.affected.any? %>
  <% cache ['issue-evidence-tab', @issue, @issue.evidence] do %>
    <div data-behavior="datatable-paths"
      data-table-close-console-url="<%= project_issue_path(current_project, @issue, tab: 'evidence-tab') %>"
      data-table-destroy-confirmation="Are you sure?&#10;&#10;Proceeding will delete the selected evidence."
      data-table-destroy-url="<%= multiple_destroy_project_issue_evidence_index_path(current_project, @issue) %>">
      <%= render 'issues/evidence/table' %>
    </div>
  <% end %>
<% else %>
  <div class="empty-state mt-3">
    <div class="empty-state-icon">
      <%= image_tag "icons/#{rand(9)}.svg" %>
    </div>
    <div class="empty-state-body">
      <div class="container">
        <h4 class="empty-state-title">This issue doesn't have any evidence yet</h4>
        <p class="empty-state-body-text mb-1">Use evidence to document the details that change from one instance of the issue to the next.</p>
        <p class="empty-state-body-text">Some examples include: port number, specific versions, output of tools (e.g. the list of SSL ciphers, etc.)</p>
        <div class="empty-state-actions">
          <a href="https://dradisframework.com/support/guides/projects/issues.html"
          class="empty-state-docs-link" target="_blank">More about issues and evidence</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
