<h4 class="header-underline">Evidence information - <span class="actions"><a href="javascript:void(0)" class="js-add-evidence text-capitalize"><i class="fa fa-plus"></i> Add new</a></span></h4>
<%= render 'issues/add_evidence'%>

<%# We need:
  #   - @issue                  - in case @issue.evidence is empty (there are
  #                               two issues with empty evidence)
  #   - @issue.evidence         - to make sure the tabs are updated with
  #                               changes.
  # %>
<% cache ['issue-evidence-tab', @issue, @issue.evidence] do %>
  <% if @issue.affected.empty? %>
    <p class="mb-0 mt-4">None so far.</p>
  <% else %>
    <div id="evidence-tabs">
      <div class="row mt-4">
        <div class="col-4 col-lg-3 pr-0">
          <ul class="nav nav-pills flex-column" id="evidence-host-list">
            <% @affected_nodes.each do |node| %>
              <% cache [@issue, node, node.evidence_count, 'evidence-nav'] do %>
                <li class="nav-item mw-100">
                  <a href="#evidence_for_<%= dom_id(node) %>" class="nav-link p-2" data-toggle="pill" data-path="<%= project_issue_node_path(current_project, @issue, node) %>" data-node='<%= "evidence_for_#{dom_id(node)}" %>' data-behavior="evidence-link" title="<%= node.label %> (<%= node.evidence_count %>)">
                    <div class="d-flex align-items-center">
                      <i class="fa fa-<%= ['folder-o','laptop'][node.type_id] %> mr-1"></i>
                      <span class="text-truncate"><%= node.label %></span>
                      <span class="ml-1">(<%= node.evidence_count %>)</span>
                    </div>
                  </a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="col-8 col-lg-9">
          <div class="tab-content">
            <% @affected_nodes.each do |node| %>
              <%= content_tag :div, class: 'tab-pane fade evidence-content', id: "evidence_for_#{dom_id(node)}", data: { behavior: 'evidence-tab-pane' } do %>
                <% if node == @first_node %>
                  <%=
                    render partial: 'issues/nodes/evidence',
                      locals: {
                        node: node,
                        instances: @first_evidence,
                        class: ''
                      }
                  %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
