<% cache [@issue, node, instances, 'evidence-content'] do %>

  <% if node.evidence_count == 1 %>
    <% evidence = instances.first %>
    <h3>
      Evidence for <%= link_to node.label, node %> -
      <span class="actions">
        <%= link_to edit_node_evidence_path(node, evidence, back_to: :issue) do %>
          <i class="fa fa-pencil"></i> Edit
        <% end %>
        <%= link_to [node, evidence],
              class: 'text-error',
              data: { confirm: 'Are you sure?' },
              method: :delete do %>
          <i class="fa fa-trash"></i> Delete
        <% end %>
      </span>
    </h3>
    <div class="content-textile" id="node_<%= node.id %>_instance_<%= evidence.id %>">
      <%= markup(evidence.content) %>
    </div>
  <% else %>
    <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <% instances.each_with_index do |instance, i| %>
        <li class="<%= 'active' if i==0 %>"><a href="#node_<%= node.id %>_instance_<%= instance.id %>" data-toggle="tab">#<%= i+1 %></a></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% instances.each_with_index do |instance, i| %>
        <div class="tab-pane<%= ' active' if i==0 %>" id="node_<%= node.id %>_instance_<%= instance.id %>">
          <% if instance.id == evidence.id %>
            <h3>
              Instance #<%= i+1 %> for <%= link_to node.label, node %> -
              <span class="actions">
                <%= link_to edit_node_evidence_path(node, evidence) do %>
                  <i class="fa fa-pencil"></i> Edit
                <% end %>
                <%= link_to [node, evidence],
                      class: 'text-error',
                      data: { confirm: 'Are you sure?' },
                      method: :delete do %>
                  <i class="fa fa-trash"></i> Delete
                <% end %>
              </span>
            </h3>
            <div class="content-textile">
              <%= markup(evidence.content) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    </div>
  <% end %>

<% end %>
