<h3>Evidence information - <span class="actions"><a href="javascript:void(0)" class="action-link js-add-evidence">Add new</a></span></h3>
<%= render 'issues/add_evidence'%>

<%# We need:
  #   - @issue                  - in case @issue.evidence is empty (there are
  #                               two issues with empty evidence)
  #   - @issue.evidence         - to make sure the tabs are updated with
  #                               changes.
  # %>
<% cache ['issue-evidence-tab', @issue, @issue.evidence] do %>
  <% if @issue.affected.empty? %>
    <p>None so far.</p>
  <% else %>
    <div class="tabbable tabs-left" id="evidence-tabs">
      <ul class="nav nav-tabs" id="evidence-host-list">
        <% @affected_nodes.each do |node| %>
          <% cache [@issue, node, node.evidence_count, 'evidence-nav'] do %>
            <li>
              <a href="#evidence_for_<%= dom_id(node) %>" data-toggle="tab" data-path="<%= project_issue_node_path(current_project, @issue, node) %>" data-node="<%= "evidence_for_#{dom_id(node)}" %>">
                <i class="fa fa-<%= ['folder-o','laptop'][node.type_id] %>"></i> <%= node.label %> (<%= node.evidence_count %>)
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="tab-content">
        <% @affected_nodes.each do |node| %>
          <%= content_tag :div, class: 'tab-pane evidence-content', id: "evidence_for_#{dom_id(node)}" do %>
            <% if node == @first_node %>
              <%=
                render partial: 'issues/nodes/evidence',
                  locals: {
                    node: node,
                    instances: @first_evidence
                  }
              %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
