<%= simple_form_for [current_project, @issue] do |f| %>
  <%= f.error_notification %>

  <%=
    f.input :text,
      label: false,
      input_html: {
        class: 'textile',
        data: textile_form_urls.merge({
          autosave_key: "#{current_project.id}-issue-#{ @issue.persisted? ? "edit-#{@issue.id}" : 'new' }",
          behavior: 'auto-save'
        })
      }
  %>

  <% if @issue.persisted? %>
    <%= hidden_field :issue, :original_updated_at, value: @issue.updated_at.to_i %>
  <% end %>

  <%= render 'tag_input', f: f %>

  <div class="form-actions">
    <%= f.button :submit, nil, class: 'btn btn-primary' %> or
    <%= link_to 'Cancel', @issue.new_record? ? project_issues_path(current_project) : [current_project, @issue], class: 'cancel-link' %>
  </div>
<% end %>
