<%= simple_form_for @issue do |f| %>
  <%= f.error_notification %>

  <%= f.input :text, label: false, input_html: { class: 'textile', data: { preview_url: preview_path, help_url: markup_path } } %>

  <% if @issue.persisted? %>
    <%= hidden_field :issue, :original_updated_at, value: @issue.updated_at.to_i %>
  <% end %>

  <%= f.input :tag_list, as: :text, label: 'Tags:', hint: 'Hint: Type Tag name and press "Enter" to add it' %>

  <div class="form-actions">
    <%= f.button :submit, nil, class: 'btn btn-dradispro' %> or
    <%= link_to 'Cancel', @issue.new_record? ? issues_path : @issue, class: 'cancel-link' %>
  </div>
<% end %>
