<%= simple_form_for [current_project, @issue] do |f| %>
  <%= f.error_notification %>

  <%=
    f.input :text,
      label: false,
      input_html: {
        class: 'textile h-100',
        data: textile_default_data.merge(
          allow_dropdown: @issue.new_record?,
          autosave_key: "#{current_project.id}-issue-#{ @issue.persisted? ? "edit-#{@issue.id}" : 'new' }",
          behavior: 'auto-save rich-toolbar',
          'rich-toolbar': 'block-code bold field italic link list-ol list-ul table'
        ),
        rows: 20
      }
  %>

  <% if @issue.persisted? %>
    <%= hidden_field :issue, :original_updated_at, value: @issue.updated_at.to_i %>
  <% end %>

  <%= render 'tag_input', f: f %>

  <div class="form-actions">
    <div class="btn-group dropdown state-menu">
      <%= f.button :submit, nil, class: 'btn btn-primary', data: { behavior: 'state-submit-button' } %>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split ml-0" data-toggle="dropdown">
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-menu" data-behavior="state-menu">
        <div class="dropdown-item" data-state="draft">
          <!-- We need the ability to change the copy for state-header and state-details for #new vs #edit -->
          <span class="state-header">Create Draft Issue</span>
          <span class="state-details">Draft issues do not appear in reports.</span>
        </div>
        <div class="dropdown-item" data-state="review">
          <span class="state-header">Create Ready for Review Issue</span>
          <span class="state-details">Create an issue that is ready for review.</span>
        </div>
        <div class="dropdown-item" data-state="published">
          <span class="state-header">Create Published Issue</span>
          <span class="state-details">Published issues appear in reports.</span>
        </div>
      </div>
    </div>
    or
    <%= link_to 'Cancel', @issue.new_record? ? project_issues_path(current_project) : [current_project, @issue], class: 'cancel-link' %>
  </div>
<% end %>
