<%= simple_form_for [current_project, @issue],
  html: {
    data: {
      behavior: 'local-auto-save',
      auto_save_key: @auto_save_key
    }
  } do |f| %>

  <%= f.error_notification %>

  <%= label_tag :issue_text, 'Issue source input', class: 'sr-only' %>
  <%=
    f.input :text,
      label: false,
      input_html: {
        class: 'textile',
        data: {
          allow_dropdown: @issue.new_record?,
          behavior: 'auto-save rich-toolbar drop-zone',
          paths: editor_paths,
          'rich-toolbar': 'block-code bold field image italic link list-ol list-ul table',
          'rich-toolbar-uploader': '[data-behavior~=jquery-upload]'
        },
        rows: 20
      }
  %>

  <% if @issue.persisted? %>
    <%= hidden_field :issue, :original_updated_at, value: @issue.updated_at.to_i %>
  <% end %>

  <%= render 'issues/tag_input', f: f %>

  <div class="form-actions">
    <% verb = @issue.persisted? ? 'Update' : 'Create' %>
    <div class="btn-group btn-states" data-behavior="btn-states">
      <%= button_tag :submit, class: 'btn btn-primary' do %>
        <%= "#{verb} Issue" %> (<span data-behavior="state-button"><%= @issue.state.humanize %></span>)
      <% end %>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <%= f.collection_radio_buttons(:state, Issue.states, :first, :first) do |b| %>
          <%= b.label class: 'state' do %>
            <%= b.radio_button class: 'd-none', data: { behavior: 'state-radio'} %>
            <i class="fa fa-check fa-fw"></i>
            <div class="state-label">
              <p data-behavior="state-label"><%= b.text.humanize %></p>
              <% case b.value %>
              <% when 'draft' %>
              <span>Still not ready for review or the report.</span>
              <% when 'ready_for_review' %>
              <span>All done on this one, ready for QA.</span>
              <% when 'published' %>
              <span>Content is final, ready for the report.</span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  or
  <%=
    link_to 'Cancel',
    @form_cancel_path,
    class: 'cancel-link',
    data: {
      behavior: 'clear-local-auto-save'
    }
    %>
</div>
<% end %>
