<div class="header">
  <div class="header-inner">
    <div class="options">
      <div class="dropdown">

        <%= link_to 'javascript:void(0)', 
          class: 'import-toggle', 
          data: { toggle: 'collapse', target: '#import-box', behavior: 'collapse-collection import-box' } do %>
          <i class="fa fa-chevron-down" data-behavior="toggle-chevron"></i>
        <% end %>
      </div>
    </div>
    <h5 class="header-underline">Import issues</h5>
  </div>
</div>

<%= content_tag :div, class: 'import-box collapse', id: 'import-box' do %>
  <% if Dradis::Plugins::with_feature(:import).empty? %>
    <p>
      Connect Dradis to a library of issue descriptions so you don't have to
      copy & paste findings from an old report.
    </p>
    <p>External libraries:</p>
    <ul class="fa-ul">
      <li><i class="fa fa-li fa-chevron-right"></i><a href="https://dradisframework.com/ce/addons/mediawiki.html?utm_source=ce&utm_medium=app" target="_blank">MediaWiki</a></li>
      <li><i class="fa fa-li fa-chevron-right"></i><a href="http://vulndbhq.com" target="_blank">VulnDB</a></li>
    </ul>
    <p>
      Or use the <a href="javascript:void(0)" class="js-try-pro" data-term="issuelib" data-url="http://drad.is/l/try-pro-issuelib"><i class="fa fa-book"></i> built-in IssueLibrary</a> with 60+ entries to get you started.
    </p>
  <% else %>
    <% Dradis::Plugins::with_feature(:import).each do |plugin| %>
    <div>
      <p class="mb-2"><%= plugin.plugin_description %></p>

      <% if Dradis::Plugins::Import::Filters[plugin.plugin_name] %>
        <% Dradis::Plugins::Import::Filters[plugin.plugin_name].each do |label, klass| %>
          <% next if label == :find_one_by_field %>

          <%= form_tag main_app.import_project_issues_path, class: 'form-inline mb-4' do %>
            <%= hidden_field_tag :scope, plugin.plugin_name %>
            <%= hidden_field_tag :filter, label %>
            <% query = @query if (@plugin == plugin.plugin_name) && (@filter == klass) %>
            <div class="inset-button-wrapper">
              <%= search_field_tag :query, query, class: 'form-control search-query', placeholder: "Search #{plugin.plugin_name}"  %>
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          <% end %>
        <% end %>
      <% else %>
      <p class="small">This plugin doesn't define any import filters. Contact the plugin author.</p>
      <% end %>
    </div>
    <% end %>
  <% end %>
<% end %>
