<%
  item_css = ['list-item']
  item_css << ' active' if (request.format.html? and @issue == issue)
%>

<%= content_tag :div, id: "#{dom_id(issue)}_link", class: item_css.join do %>

  <% issue_path = local_assigns[:qa] ? main_app.project_qa_issue_path(current_project, issue) : main_app.project_issue_path(current_project, issue) %>
  <%= link_to issue_path, class: 'view-toggle-off', data: { target: "##{dom_id(issue)}_content" } do %>
    <%= colored_icon_for_model(issue, 'fa-bug', 'list-item-icon') %>
    <%= issue.title %>
  <% end %>

  <div class="list-item-actions">
    <% redirect_path = local_assigns[:qa] ? project_qa_issue_path(current_project, issue) : nil %>
    <%= link_to local_assigns[:qa] ? edit_project_qa_issue_path(current_project, issue, redirect_to: redirect_path) : edit_project_issue_path(current_project, issue, redirect_to: redirect_path), class:'list-item-action-edit' do %>
      <i class="fa fa-pencil"></i> Edit
    <% end %>

    <% unless local_assigns[:qa] %>
      <%= link_to main_app.project_issue_path(current_project, issue),
          method: :delete,
          data: { confirm: "Are you sure?\n\nProceeding will delete this issue and any associated evidence." },
          class: 'list-item-action-delete' do %>
        <i class="fa fa-trash"></i> Delete
      <% end %>
    <% end %>
  </div>

<% end %>
