<div class="note-list">
  <%= content_tag :div, id: 'issue_summary_link', class: current_page?(main_app.project_issues_path(current_project)) ? 'p-2 mb-2 active' : 'p-2 mb-2' do %>
    <%= link_to main_app.project_issues_path(current_project), class: 'summary-link' do %>
      <i class="fa fa-bar-chart"></i>
      Issues Summary
    <% end %>
  <% end %>
</div>

<%= render 'shared/sidebar_collection',
  name: 'Issues',
  collection: @issues,
  new_path: main_app.new_project_issue_path(current_project),
  category_id: nil
%>
<%= render 'import_box' %>

<!-- Attachments -->
<%= render partial: 'attachments/attachment_box', locals: { attachments_node: current_project.plugin_uploads_node } %>
