<% cache ['issues-table', @columns, issues.map(&:id), @issues.map(&:updated_at).map(&:to_i).sort.last] do %>
  <div class="table-wrapper">
    <table class="table table-striped items-table mb-0">
      <thead>
        <tr>
          <th></th>
          <% @columns.each do |column| %>
          <th
            data-column="<%= column.downcase %>"
            data-sort="<%= %w{Affected Created Updated}.include?(column) ? 'int' : 'string' %>"
            class="sortable">
            <%= column %>
          </th>
          <% end %>
          <th class="column-actions"><div class="column-actions-inner"></div></th>
        </tr>
      </thead>
      <tbody>
        <% issues.each do |issue| %>
        <% cache [issue, @columns, issue.affected_count, 'issues-table'] do%>
        <tr>
          <td class="column-checkbox"><%= check_box_tag dom_id(issue, :checkbox), issue.id, false, class: 'js-multicheck', data: { url: project_issue_path(current_project, issue, format: :json) } %></td>
          <% @columns.each do |column| %>
            <%
             sort, display =
             case column
             when 'Title'
               [issue.title, link_to(issue.title, [current_project, issue])]
             when 'Tags'
               [
                 issue.tags.any? ? issue.tags.first.display_name : '',
                 tag_and_name_for(issue)
               ]
             when 'Affected'
               # this count is coming from the SQL finder in the controller
               [issue.affected_count, issue.affected_count]
             when 'Created'
               [issue.created_at.to_i, local_time_ago(issue.created_at)]
             when 'Created by'
               [issue.author, issue.author]
             when 'Updated'
               [issue.updated_at.to_i, local_time_ago(issue.updated_at)]
             else
               [issue.fields.fetch(column, ''), markup(issue.fields.fetch(column, ''))]
             end
            %>
          <td data-sort-value="<%= sort %>"><%= display %></td>
          <% end  %>
          <td class="column-actions">
            <div class="column-actions-inner">
              <div class="dropleft">
                <button class="btn btn-sm text-dark" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,6">
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu">
                  <%= link_to edit_project_issue_path(current_project, issue), class: 'dropdown-item' do %>
                    <i class="fa fa-pencil"></i> Edit
                  <% end %>
                  <%= link_to [current_project, issue], method: :delete, class: 'dropdown-item text-danger', data: { confirm: "Are you sure?\n\nProceeding will delete this issue and any associated evidence." } do %>
                    <i class="fa fa-trash"></i> Delete
                  <% end %>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
