<%= content_tag :div, id: tag.persisted? ? "tag-#{tag.id}" : 'new-tag', class: 'dropdown-menu' do %>
  <%= form_for [current_project, tag] do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

    <div class="form-actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
