<div class="row-fluid">  
  <div class="span12 tag-wrap">
    <%= button_tag nil, class: "btn", id: "tag-btn" do %>
      <%= content_tag :span, style: "color: #{@issue.tags&.first&.color || '#555'};" do %>
        <i class="icon fa fa-tag"></i>
        <%= @issue.tags&.first&.display_name || 'No tag' %>
      <% end %>
    <% end %>    
    <div class="tag-editor">
      <%= f.input :tag_list, as: :hidden %>    
      <%= text_field_tag :tag_search, nil, data: {url: project_tags_path }, placeholder: "e.g (Critical Medium or Low)", class: "span12" %>
      <ul class="dropdown-menu show tag-results" id="tag-result">
      </ul>
    </div>
    <%= image_tag "loading.gif", class: "hide", id: "tag-loading", width: 20 %>
  </div>
</div>