<% content_for :title, 'Issues summary' %>

<% content_for :sidebar do %>
  <%= render 'sidebar'%>
<% end %>

<!-- Main content -->

<div class="content-container">
  <div id="issue-viewer">

    <div class="note-text-inner">

      <% if @issues.any? %>
        <div id="issues-table"
            data-behavior="issues-table"
            data-destroy-url="<%= multiple_destroy_project_issues_path(current_project) %>"
            data-storage-key="project.ce.issue_columns"
            data-close-console-url="<%= project_issues_path(current_project) %>">
          <%= render 'toolbar' %>
          <%= render 'table', issues: @issues %>
        </div>
      <% else %>
        <%= render 'shared/empty_state',
          actions_partial: 'issues/empty_state_actions',
          name: 'issue',
          docs_link: 'https://dradisframework.com/support/guides/projects/issues.html',
          text: 'Use issues to represent vulnerabilities or findings. Issues contain general information, such as: Title, Description, Recommendation, CVE\'s, etc. These are the things you\'ll end up including in your report.'
        %>
      <% end %>
    </div>
  </div>
</div>
