<% content_for :title, 'Issues summary' %>

<% content_for :sidebar do %>
  <%= render 'sidebar'%>
<% end %>

<!-- Main content -->
<div id="issue-viewer">

  <div class="inner note-text-inner">

    <% if @issues.any? %>
      <div id="issue-table">
        <%= render 'toolbar' %>
        <%= render 'table', issues: @issues %>
      </div>
    <% else %>
      <%= render 'empty' %>
    <% end %>
  </div>
</div>

<%
  # an empty hidden form that is filled with js
  # to post the ids we want to merge
%>
<%= simple_form_for Issue.new,
                    url: merging_issues_path,
                    method: 'post',
                    html: {id: 'merge_form', class: 'hide'} do |f| %>
<% end %>
