<% content_for :title, 'Issues summary' %>

<% content_for :sidebar do %>
  <%= render 'sidebar'%>
<% end %>

<!-- Main content -->
<div id="issue-viewer">

  <div class="inner note-text-inner">

    <% if @issues.any? %>
      <div id="issues-table"
           data-destroy-url="<%= multiple_destroy_project_issues_path(current_project) %>"
           data-storage-key="project.ce.issue_columns"
           data-close-console-url="<%= project_issues_path(current_project) %>">
        <%= render 'toolbar' %>
        <%= render 'table', issues: @issues %>
      </div>
    <% else %>
      <%= render 'empty' %>
    <% end %>
  </div>
</div>

<%= render 'console/console' %>
