<% content_for :title, 'Merge issues' %>

<% content_for :sidebar do %>
  <%= render 'sidebar'%>
<% end %>

<div id="issues_editor">
  <div class="inner note-text-inner">
    <h3>Merging <%= @issues.count %> issues</h3>

    <%= simple_form_for Issue.new, url: merge_issues_path, method: 'post' do |f| %>
      <p class="merge-option">Select a target issue to merge the other issues into.

      <p class="merge-option">
        All issues except the target issue will be deleted,
        and their evidence will be moved to the target issue.
      <p class="merge-option" style="display: none">
        All issues will be deleted,
        and their evidence will be moved into a brand new issue.

      <p class="merge-option text-warning">
        WARNING: The text of all issues except the target will be lost.<br>
        If you want to preserve the text
        <a class="change-merge-option" href="#">
          click here to merge all issues into a new issue with custom text.
        </a>
      <p class="merge-option text-warning" style="display: none">
        WARNING: Only the new text that you enter here will be saved;
        existing text in the old issues will be deleted.
        <a class="change-merge-option" href="#">
          Click here to use one issue as a target issue that does not get deleted.
        </a>

      <div class="merge-option">
        <% @issues.each_with_index do |issue, i| %>
          <div class="radio">
            <%= label_tag do %>
              <%= radio_button_tag 'id', issue.id, i == 0 %>
              <%= issue.title %>
              <a href="#" class="expand"><small class="text-success">expand</small></a>
              <div class="tab-content" style="display: none">
                <ul class="nav nav-tabs pull-right">
                  <li class="active"><a href="#normal_<%= i %>" data-toggle="tab">As normal text</a></li>
                  <li><a href="#textile_<%= i %>" data-toggle="tab">As textile</a></li>
                </ul>
                <div id="normal_<%= i %>" class="tab-pane active">
                  <pre><%= markup(issue.text) %></pre>
                </div>
                <div id="textile_<%= i %>" class="tab-pane">
                  <pre><%= issue.text %></pre>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div id="new_issue" style="display: none" class="merge-option">
        <%= f.input :text, label: false, input_html: { class: 'textile', data: { preview_url: preview_path, help_url: markup_path } } %>
      </div>

      <% @issues.each do |issue| %>
        <%= hidden_field_tag 'sources[]', issue.id %>
      <% end %>

      <div class="form-actions">
        <%= f.button :submit, 'Merge issues', class: 'btn btn-dradispro' %> or
        <%= link_to 'Cancel', issues_path, class: 'cancel-link' %>
      </div>
    <% end %>
  </div>
</div>
