<% content_for :title, @issue.title %>

<% content_for :sidebar do %>
  <%= render 'sidebar'%>
<% end %>

<% if @conflicting_versions %>
  <%= render "projects/conflicting_versions", conflicts: @conflicting_versions, record: @issue %>
<% end %>

<!-- Main content -->
<ul class="breadcrumb">
  <li><%= link_to 'All issues', issues_path() %> <span class="divider">/</span></li>
  <li class="active"><%= (@issue.title? ? @issue.title : "Issue ##{@issue.id}")%></li>
</ul>

<ul class="nav nav-tabs main-tabs">
  <li class="active"><a href="#info-tab" data-toggle="tab">
    <% if tag = @issue.tags.first %>
      <i class="fa fa-bug" style="color: <%= tag.color %>"></i>
    <% else %>
      <i class="fa fa-bug"></i>
    <% end %> Information</a></li>
  <li><a href="#evidence-tab" data-toggle="tab"><i class="fa fa-laptop"></i> Evidence <span class="badge"><%= @issue.evidence.count %></span></a></li>
  <li><a href="#activity-tab" data-toggle="tab"><i class="fa fa-refresh"></i> Recent activity</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="info-tab">
    <div class="inner note-text-inner">
      <h3>Issue information -
        <span class="actions">
          <%= link_to 'edit', edit_issue_path(@issue), class: 'view-toggle-off editor-toggle-off' %>
          <%= link_to 'delete', @issue, class: 'text-error', data: { confirm: 'Are you sure?' }, method: :delete %> -
        </span>
        <small class="pull-right">Author: <%= @issue.author %></small>
        <%= tag_and_name_for(@issue) %>
      </h3>
      <div class="content-textile">
        <%= markup(@issue.text) %>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="evidence-tab">
    <div class="inner">
      <%= render partial: 'evidence' %>
    </div>
  </div>
  <div class="tab-pane" id="activity-tab">
    <div class="inner">
      <%= render partial: 'activity' %>
    </div>
  </div>
</div>
