<% content_for :title, @issue.title %>

<% content_for :sidebar do %>
  <%= render 'sidebar'%>
<% end %>

<% if @conflicting_revisions %>
  <%= render "projects/conflicting_revisions", conflicts: @conflicting_revisions, record: @issue %>
<% end %>

<!-- Main content -->
<ul class="breadcrumb">
  <li><%= link_to 'All issues', project_issues_path(current_project) %> <span class="divider">/</span></li>
  <li class="active"><%= (@issue.title? ? @issue.title : "Issue ##{@issue.id}")%></li>
</ul>

<ul class="nav nav-tabs main-tabs">
  <%= content_tag :li, class: !params[:tab] || params[:tab] == 'info-tab' ? 'active' : '' do%>
    <%= link_to project_issue_path(current_project, @issue, tab: 'info-tab') do %>
      <%= colored_icon_for_model(@issue, 'fa-bug') %> Information
    <% end %>
  <% end %>
  <%= content_tag :li, class: params[:tab] == 'evidence-tab' ? 'active' : '' do%>
    <%= link_to project_issue_path(current_project, @issue, tab: 'evidence-tab') do %>
      <i class="fa fa-laptop"></i> Evidence <span class="badge"><%= @issue.evidence.count %></span>
    <% end %>
  <% end %>
  <%= content_tag :li, class: params[:tab] == 'activity-tab' ? 'active' : '' do%>
    <%= link_to project_issue_path(current_project, @issue, tab: 'activity-tab') do %>
      <i class="fa fa-refresh"></i> Recent activity
    <% end %>
  <% end %>
  <%= render_view_hooks 'issues/show-tabs' %>
</ul>

<div class="tab-content">
  <div class="tab-pane <%= "active" if !params[:tab] || params[:tab] == 'info-tab' %>" id="info-tab" data-behavior="subscription-actions" data-subscribed="<%= !@subscription.nil? %>" >
    <% cache ['issue-information-tab', @issue] do %>
      <div class="inner note-text-inner">
        <h3>Issue information -
          <span class="actions">
            <%= link_to edit_project_issue_path(current_project, @issue),
                  class: 'action-link' do %>
              <i class="fa fa-pencil"></i> Edit
            <% end %>
            <%= link_to [current_project, @issue],
                  class: 'action-link text-error',
                  data: { confirm: "Are you sure?\n\nProceeding will delete this issue and any associated evidence." },
                  method: :delete do %>
              <i class="fa fa-trash"></i> Delete
            <% end %> -
            <%= render 'subscriptions/actions', subscribable: @issue %> -
            <%= render partial: 'send_to_menu' %>
            <%= tag_and_name_for(@issue) %>
          </span>
          <small class="pull-right">Author: <%= @issue.author %></small>
        </h3>
        <div class="content-textile">
          <%= markup(@issue.text) %>
        </div>
      </div>
    <% end %>

    <div class="inner">
      <%= render 'comments/feed' %>
      <%= render 'subscriptions/feed', subscribable: @issue %>
    </div>
  </div>


  <div class="tab-pane <%= 'active' if params[:tab] == 'evidence-tab' %>" id="evidence-tab">
    <div class="inner">
      <%= render partial: 'evidence' %>
    </div>
  </div>

  <% cache ['issue-activity-tab', @issue, @activities] do %>
    <div class="tab-pane <%= 'active' if params[:tab] == 'activity-tab' %>" id="activity-tab">
      <div class="inner">
        <%= render partial: 'activity' %>
      </div>
    </div>
  <% end %>

  <%= render_view_hooks 'issues/show-content' %>
</div>
