<% content_for :title, 'My Tasks' %>

<div class="content-container mt-3">
  <table class="table table-striped"
          data-behavior="dradis-datatable"
          data-default-columns='["Title", "Methodology", "Due Date", "Assigned"]'
          data-local-storage-key="project.ce.<%= dom_id(current_project) %>.tasks_datatable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Methodology</th>
        <th>Due Date</th>
        <th>Assigned</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td data-sort="<%= task.name %>">
            <%= link_to task.name, project_board_list_card_path(current_project, task.board, task.list, task) %>
          </td>
          <td data-sort="<%= task.board.name %>"><%= task.board.name %></td>
          <td data-sort="<%= task.due_date || 'no-due-date' %>"><%= due_date_badge(task) %></td>
          <td>
            <ul class="m-0 p-0">
              <% task.assignees.each do |assignee| %>
                <li class="d-inline-flex" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= assignee.name %>">
                  <%= avatar_image(assignee, size: 30) %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
