<section class="summary-panel">
  <h4 class="header-underline">My Tasks
    <span class="actions pt-1">
      <div class="action">
        <%= link_to project_tasks_path(current_project) do %>
          <i class="fa-solid fa-tasks sidebar-link-icon"></i> All Tasks
        <% end %>
      </div>
    </span>
  </h4>
  <% if @tasks[:today]&.any? %>
    <h5 class="mb-2 mt-4">Due today</h5>
    <ul class="list-group tasks">
      <% @tasks[:today][0..2].each do |task| %>
        <%= render partial: 'projects/tasks/task', locals: { task: task, task_class: 'due-today' } %>
      <% end %>
    </ul>
    <% if @tasks[:today].size > 3 %>
      <p class="small mt-2 mb-0 text-center">+ <%= @tasks[:today].size - 3 %> more</p>
    <% end %>
  <% end %>

  <% if @tasks[:tomorrow]&.any? || @tasks[:future]&.any? %>
    <h5 class="mb-2 mt-4">Next</h5>
    <ul class="list-group tasks future-tasks">
      <% (@tasks[:tomorrow][0..2] || []).each do |task| %>
        <%= render partial: 'projects/tasks/task', locals: { task: task, task_class: 'due-tomorrow' } %>
      <% end %>

      <% unless @tasks[:tomorrow].size >= 3 %>
        <% (@tasks[:future][0..2] || []).each do |task| %>
          <%= render partial: 'projects/tasks/task', locals: { task: task, task_class: 'due-future' } %>
        <% end %>
      <% end %>
    </ul>
    <% if (@tasks[:tomorrow].size + @tasks[:future].size) > 3 %>
      <p class="small mt-2 mb-0 text-center">+ <%= (@tasks[:tomorrow].size + @tasks[:future].size) - 3 %> more</p>
    <% end %>
  <% end %>
</section>
