<section class="summary-panel">
  <h4 class="header-underline">My Tasks
    <span class="actions pt-1">
      <div class="action">
        <%= link_to project_tasks_path(current_project) do %>
          <i class="fa-solid fa-tasks sidebar-link-icon"></i> All Tasks
        <% end %>
      </div>
    </span>
  </h4>
  <% if @tasks.any? %>
    <ul class="list-group tasks">
      <% @tasks.first(@tasks_limit).each do |task| %>
        <li class="list-group-item">
          <%= link_to project_board_list_card_path(current_project, task.board, task.list, task), class: "list-group-item-action #{widget_task_class(task)}" do %>
            <span class="text-truncate" title="<%= task.name%>"><%= task.name %></span>
          <% end %>
          <span class="badge bg-primary"><%= task.board.name %></span>
        </li>
      <% end %>
    </ul>

    <p class="small mt-2 mb-0 text-center">&nbsp;
      <% if @tasks.size > @tasks_limit %>
        + <%= @tasks.size - @tasks_limit %> more
      <% end %>
    </p>
  <% end %>
</section>
