<div class="tab-pane <%= "active" if params[:tab] == "evidence-tab" %>" id="evidence-tab">
  <% if @sorted_evidence.any? %>
    <h4 class="header-underline">Evidence</h4>
    <div data-behavior="datatable-paths"
        data-table-destroy-url="<%= multiple_destroy_project_node_evidence_index_path(@node.project, @node) %>"
        data-table-close-console-url="<%= project_node_path(@node.project, @node, tab: "evidence-tab") %>">
      <%= render 'nodes/items_table/table',
                columns: @evidence_columns,
                items: @sorted_evidence %>
    </div>
  <% else %>
    <%= render 'shared/empty_state',
      actions_partial: 'nodes/evidence/empty_state_actions',
      docs_link: 'https://dradisframework.com/support/guides/projects/issues.html',
      name: 'evidence',
      text: 'Evidence ties this node to the issues you have identified. Use evidence to detail changes from one instance of the vulnerability to the next: port number, specific versions, banners grabbed by scanners, etc.'
    %>
  <% end %>
</div>
