<div class="tab-pane" id="evidence-tab">
  <h4 class="header-underline">Evidence
    <span class="actions pt-1">
      <div class="action">
        <div class="dropdown">
          <%= link_to 'javascript:void(0)', class: 'dropdown-toggle', data: { bs_toggle: 'dropdown' } do %>
            <i class="fa-solid fa-plus me-1"></i>New Evidence
          <% end %>
          <%= render 'shared/templates_dropdown',
            name: 'Evidence',
            new_path: new_project_node_evidence_path(@node.project, @node),
            category_id: nil
          %>
        </div>
      </div>
    </span>
  </h4>

  <% if @sorted_evidence.any? %>
    <div data-behavior="datatable-paths"
        data-table-destroy-url="<%= multiple_destroy_project_node_evidence_index_path(@node.project, @node) %>"
        data-table-close-console-url="<%= project_node_path(@node.project, @node, tab: "evidence-tab") %>">
      <%= render 'nodes/items_table/table',
                columns: @evidence_columns,
                items: @sorted_evidence %>
    </div>
  <% else %>
    <%= render 'shared/empty_state',
      docs_link: 'https://dradis.com/support/guides/projects/issues.html',
      name: 'evidence',
      text: 'Evidence ties this node to the issues you have identified. Use evidence to detail changes from one instance of the vulnerability to the next: port number, specific versions, banners grabbed by scanners, etc.'
    %>
  <% end %>
</div>
