<% if notifications.any? %>
  <% notifications.each do |notification| %>
    <% present notification do |notif_presenter| %>
      <li class="notification <%= notification.unread? ? 'unread' : '' %>">
        <div class="body">
          <%= notif_presenter.icon %>

          <div class="time">
            <%= notif_presenter.created_at_ago %>
          </div>

          <div class="title">
            <%= notif_presenter.render_title %>
          </div>

          <div class="details">
            <%= notif_presenter.avatar_with_link(30) %>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
<% else %>
  <li class="no-content text-center">You have no notifications yet.<p>
<% end %>
