<%# NB this template is rendered both in the notification navbar %>
<%# and on notifications#index                                   %>
<% present notification do |notif_presenter| %>
  <li class="notification <%= notification.read? ? '' : 'unread' %>">
    <div class="body">
      <% if local_assigns[:index_page] %>
        <%# TODO s/@project/current_project once project-id-scopes is merged %>
        <%= notif_presenter.link_to_mark_as_read(@project) %>
      <% end %>
      <%= notif_presenter.icon %>

      <div class="time">
        <%= notif_presenter.created_at_ago %>
      </div>

      <div class="title">
        <%= notif_presenter.render_title %>
      </div>

      <div class="details">
        <%= notif_presenter.avatar_with_link(30) %>
      </div>
    </div>
  </li>
<% end %>
