<% unless @turbo_status %>
  <div class="alert alert-danger">
    There was an error contacting Redis: please make sure the Redis server is running.
  </div>
<% end %>

<div class="row">
  <div class="col-3">
    <ul class="nav flex-column" data-behavior="deeplinks" role="tablist">
      <% @prompts.each_with_index do |prompt, index| %>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#prompt-tab-<%= prompt.id %>" role="tab" aria-controls="details-tab" aria-selected="true">
            <i class="fa-solid <%= prompt.icon %>"></i> <%= prompt.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-9">
    <div class="tab-content">
      <% @prompts.each do |prompt| %>
        <div class="tab-pane fade show" id="prompt-tab-<%= prompt.id %>" role="tabpanel" aria-labelledby="details-tab">
          <%= render partial: 'dradis/plugins/echo/projects/prompts/prompt', locals: { prompt: prompt } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
