<% cache [@issue, node, instances, 'evidence-content'] do %>
  <% evidence = instances.first %>
  <%= content_tag :section, class: 'evidence-for-host' do %>
    <% if node.evidence_count == 1 %>
      <h3>
        Evidence for <%= link_to node.label, project_node_path(current_project, node) %> -
        <span class="actions">
          <%= link_to edit_project_node_evidence_path(current_project, node, evidence, back_to: :issue), class: 'action-link' do %>
            <i class="fa fa-pencil"></i> Edit
          <% end %>
          <%= link_to [current_project, node, evidence],
                class: 'action-link text-error',
                data: { confirm: 'Are you sure?' },
                method: :delete do %>
            <i class="fa fa-trash"></i> Delete
          <% end %>
        </span>
      </h3>
      <div class="content-textile" id="node_<%= node.id %>_instance_<%= evidence.id %>">
        <%= markup(evidence.content) %>
      </div>
    <% else %>
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <% instances.each_with_index do |instance, i| %>
            <%= check_box_tag "checkbox_#{instance.id}", instance.id, false, class: 'js-multicheck' %>
            <li class="<%= 'active' if i==0 %>">
              <a href="#node_<%= node.id %>_instance_<%= instance.id %>" data-toggle="tab">#<%= i+1 %></a>
            </li>
          <% end %>
        </ul>

        <div class="tab-content">
          <% instances.each_with_index do |instance, i| %>
            <div class="tab-pane<%= ' active' if i==0 %>" id="node_<%= node.id %>_instance_<%= instance.id %>">
              <h3>
                Instance #<%= i+1 %> for <%= link_to node.label, project_node_path(current_project, node) %> -
                <span class="actions">
                  <%= link_to edit_project_node_evidence_path(current_project, node, instance, back_to: :issue), class: 'action-link' do %>
                    <i class="fa fa-pencil"></i> Edit
                  <% end %>
                  <%= link_to [current_project, node, instance],
                        class: 'action-link text-error',
                        data: { confirm: 'Are you sure?' },
                        method: :delete do %>
                    <i class="fa fa-trash"></i> Delete
                  <% end %>
                </span>
              </h3>
              <div class="content-textile">
                <%= markup(instance.content) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
