<nav>
  <ol class="breadcrumb">
    <% if @record.class.name == 'Card' %>
      <li class="breadcrumb-item"><%= link_to @record.board.node.label, project_boards_path(current_project, node_id: @record.board.node_id) %></li>
      <li class="breadcrumb-item"><%= link_to "#{@record.board.name} - #{@record.list.name}", project_board_path(current_project, @record.board) %></li>
      <li class="breadcrumb-item"><%= link_to @record.name, project_board_list_card_path(current_project, @record.board, @record.list, @record) %></li>
    <% elsif @record.class.name == 'Evidence' || @record.class.name == 'Note' %>
      <li class="breadcrumb-item"><a href="javascript:void(0)" data-behavior="sidebar-toggle">Nodes</a></li>
      <li class="breadcrumb-item"><%= link_to @record.node.label, project_node_path(current_project, @record.node, tab: "#{@record_class.pluralize(2)}-tab") %></li>
      <li class="breadcrumb-item"><%= link_to @record.title, record_resource_path(@record) %></li>
    <% elsif @record.class.name == 'Issue' %>
      <li class="breadcrumb-item"><%= link_to 'All issues', project_issues_path(current_project) %></li>
      <li class="breadcrumb-item"><%= link_to @record.title, project_issue_path(current_project, @record) %></li>
    <% end %>
    <li class="breadcrumb-item active">History</li>
  </ol>
</nav>
