<% content_for :title, "#{@record.class.model_name} ##{@record.id} - comparing revisions" %>

<% content_for :breadcrumbs do %>
  <%= render partial: 'breadcrumbs' %>
<% end %>

<% content_for :sidebar do %>
  <% if @issue %>
    <%= render 'issues/sidebar' %>
  <% end %>

  <% if @list %>
    <%= render 'cards/sidebar' %>
  <% end %>

  <% if @node %>
    <%= render 'nodes/sidebar' %>
  <% end %>
<% end %>

<div class="row m-0">
  <div class="col-12 col-xl-8 col-xxl-9 p-0">
    <div class="content-container pb-3 mr-xl-3">
      <% if @diffed_revision %>
        <div class="diff">
          <h4 class="header-underline">Viewing changes from <%= @diffed_revision.updated_at %></h4>
          <pre class='js-diff-body'><%= @diffed_revision.diff.format_as(:color) %></pre>
        </div>
      <% else %>
        <h4 class="header-underline">Revision Changes</h4>
        <%= render 'empty' %>
      <% end %>
    </div>

    <div id="<%= dom_id(@record) %>_revisions" class="content-container mr-xl-3 revisions-table note-text-inner">
      <h4 class="header-underline"><%= @record.class.name %> History</h4>

      <table class="table mb-0">
        <thead>
          <tr>
            <th>Action</th>
            <th>When</th>
            <th>By</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @revisions.each do |revision| %>
            <tr <%= raw "class='active'" if revision == @revision %>>
              <% present(revision, RevisionPresenter) do |revision_presenter| %>
                <td><%= revision_presenter.action %></td>
                <td><%= revision_presenter.created_at_ago %></td>
                <td><%= revision_presenter.whodunnit %></td>
                <td>
                  <% unless revision == @revisions.last %>
                    <% if revision == @revision %>
                      Currently Viewing
                    <% elsif revision.event == "update" %>
                      <%= link_to "View Changes", record_revision_path(@record, revision) %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 col-xl-4 col-xxl-3 p-0">
    <div class="sticky-top">
      <div class="content-container d-none d-xl-block mt-0 mt-xl-3 ml-xl-3">
         <h4 class="header-underline">Legend</h4>
        <p><del>removed text</del></p>
        <p><ins>added text</ins></p>
      </div>
      <% if @diffed_revision %>
        <% if @revision.previous %>
          <div class="content-container ml-xl-3">
            <h4 class="header-underline">Previous revision</h4>
            <ul>
              <li><strong>Author:</strong> <%= @diffed_revision.previous_author %></li>
              <li><strong>Action:</strong> <%= @diffed_revision.previous_action.capitalize %></li>
              <li><strong>When:</strong> <%= @diffed_revision.last_updated_at %></li>
            </ul>
          </div>
        <% end %>
        <div class="content-container ml-xl-3">
          <h4 class="header-underline">This revision</h4>
          <ul>
            <li><strong>Author:</strong> <%= @diffed_revision.this_author %></li>
            <li><strong>Action:</strong> Update</li>
            <li><strong>When:</strong> <%= @diffed_revision.updated_at %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
