<% content_for :title, 'Trash' %>

<div class="content-container mt-3" id="trash">
  <% if @revisions.any? %>
    <% cache @revisions do %>
      <div id="trash-table" class="table-wrapper">
        <div class="filter w-25">
          <label for="filter-table" class="sr-only">Filter table by keyword</label>
          <input type="search" id="filter-table" class="form-control js-table-filter" placeholder="Type here to filter table..."/>
        </div>

        <table class="table table-striped items-table">
          <thead>
            <tr>
              <th data-column="item" data-sort="string" data-behavior="sortable-header" class="sortable">Item</th>
              <th data-column="removed" data-sort="string" data-behavior="sortable-header" class="sortable">Removed by</th>
              <th data-column="when" data-sort="int" data-behavior="sortable-header" class="sortable sorting-desc">When</th>
              <th><span class="sr-only">Actions</span></th>
            </tr>
          </thead>
          <tbody>
            <% @revisions.each do |recoverable_revision| %>
              <% cache recoverable_revision do %>
                <% present recoverable_revision do |recoverable_revision_presenter| %>
                  <tr>
                    <td data-sort-value="<%= recoverable_revision_presenter.title %>" data-behavior="sortable-item"><%= recoverable_revision_presenter.info %></td>
                    <td data-sort-value="<%= recoverable_revision_presenter.whodunnit %>" data-behavior="sortable-item"><%= recoverable_revision_presenter.whodunnit %></td>
                    <td data-sort-value="<%= recoverable_revision.version.created_at.to_i %>" data-behavior="sortable-item"><%= recoverable_revision_presenter.created_at_ago %></td>
                    <td>
                      <%= link_to(
                        recover_project_revision_path(
                          current_project,
                          recoverable_revision.version,
                        ),
                        method: :post,
                        data: { confirm: 'Are you sure?' }
                      ) do %>
                        <i class="fa fa-refresh"></i> Recover
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% else %>
    The trash is empty.
  <% end %>
</div>
