<div class="dropdown <%= local_assigns.fetch(:dropdown_class, '') %>">
  <%= link_to 'javascript:void(0)',
    class: local_assigns.fetch(:button_class, '') + ' dropdown-toggle',
    data: { name: name.downcase, toggle: 'dropdown' } do %>
    <i class="fa fa-plus"> </i> <%= local_assigns.fetch(:text, '') %>
  <% end %>

  <%= link_to 'javascript:void(0)', data: { toggle: 'collapse', target: "##{name.downcase}", behavior: 'collapse-collection' }, class: local_assigns.fetch(:collapse_class, '') do %>
    <i class="fa fa-chevron-up" data-behavior="toggle-chevron"></i>
  <% end %>

  <div class="dropdown-menu <%= local_assigns.fetch(:menu_class, '') %>">
    <%= link_to 'Empty (no template)',
      new_path,
      :tabindex => '-1',
      :class => 'dropdown-item',
      :data => {
        :category_id => category_id,
        :title       => "Add #{name.singularize}",
      }
    %>

    <div class="divider"></div>

    <% if NoteTemplate.all.any? %>
      <% NoteTemplate.all.each do |template| %>
        <%= link_to template.name, "#{new_path}?template=#{template.id}", tabindex: '-1', class: 'dropdown-item' %>
      <% end %>
    <% else %>
      <a href="javascript:void(0)" class="dropdown-item disabled">(no templates defined)</a>
    <% end -%>

  </div>
</div>
