<div class="header">
  <div class="header-inner">
    <div class="options">
      <%= render 'shared/add_item_dropdown',
        name: name,
        new_path: new_path,
        category_id: category_id,
        menu_class: 'pull-right'
      %>
    </div>
    <h3><%= local_assigns[:index_path] ? link_to(name, index_path) : name %></h3>
  </div>
</div>

<div id="<%= name.downcase %>" class="note-list in collapse">
  <% if collection.any? %>
    <%= render partial: collection.first.to_partial_path, collection: collection %>
  <% end %>
  <div class="list-item">
    <div class="note placeholder <%= 'hide' if collection.any? %>">(nothing yet)</div>
  </div>
</div>
