<% node = @node || @issuelib %>

<div class="attachments-box jquery-upload">

  <div class="header">
    <div class="header-inner">
      <div class="options">
        <div class="dropdown">
          <%= link_to 'javascript:void(0)', 
            data: { toggle: 'collapse', target: '#attachment-box', behavior: 'collapse-collection' } do %>
            <i class="fa fa-chevron-up" data-behavior="toggle-chevron"></i>
          <% end %>
        </div>
      </div>
      <h3>Attachments</h3>
    </div>
  </div>

  <div class="in collapse" id="attachment-box">
    <!-- The table listing the files available for upload/download -->
    <table class="table">
      <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
        <% if node.attachments.any? %>
          <% for attachment in node.attachments do %>
        <tr class="template-download">
          <td class="name" colspan="4">
            <div>
              <%= link_to project_node_attachment_path(node.project, node, attachment.filename), download: attachment.filename, title: attachment.filename do %>
              <i class="fa fa-paperclip"></i> <%= short_filename(attachment.filename) %>
              <% end %>

              <div class="text-right">
                <span class="size">
                  <small><%= number_to_human_size(File.size(attachment)) %></small>
                </span>

                <span class="delete">
                  <button
                    class="btn btn-transparent btn-danger"
                    data-type="DELETE"
                    data-url="<%= project_node_attachment_path(node.project, node, attachment.filename) %>"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </span>

                <button
                  class="btn btn-transparent js-attachment-url-copy"
                  data-clipboard-text="!<%= project_node_attachment_path(node.project, node, attachment.filename) %>!"
                >
                  <i class="fa fa-link"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
          <% end %>
        <% else %>
          <%# display some sort of Nothing yet message %>
        <% end %>
      </tbody>
    </table>

    <div id="drop-zone" class="drop-zone" dropzone="" data-toggle="tooltip" data-placement="right" title="Drag attachments from your desktop and drop them here" ondrop="">Drop zone</div>

    <!-- The file upload form used as target for the file upload widget -->
    <%= form_tag project_node_attachments_path(node.project, node, format: :json), id: 'fileupload', multipart: true do %>

      <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
      <div class="row-fluid fileupload-buttonbar">
        <div class="span8">
          <!-- The fileinput-button span is used to style the file input field as button -->
          <span class="btn btn-success fileinput-button" data-toggle="tooltip" data-placement="bottom" title="Add...">
            <i class="fa fa-plus fa-inverse"></i>
            <span></span>
            <input type="file" name="files[]" multiple>
          </span>
          <button type="submit" class="btn btn-primary start" data-toggle="tooltip" data-placement="bottom" title="Start">
            <i class="fa fa-upload fa-inverse"></i>
            <span></span>
          </button>
          <button type="reset" class="btn btn-warning cancel" data-toggle="tooltip" data-placement="bottom" title="Cancel">
            <i class="fa fa-ban fa-inverse"></i>
            <span></span>
          </button>
        </div>

        <div class="span4">
          <!-- The global progress bar -->
          <div class="progress progress-success progress-striped active fade">
            <div class="bar" style="width:0%;"></div>
          </div>
        </div>
      </div>
      <!-- The loading indicator is shown during image processing -->
      <div class="fileupload-loading"></div>
    <% end %>
  </div>

</div>



<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <!-- <td class="preview"><span class="fade"></span></td> -->
        <td class="name"><span>{%= file.name %}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="fa fa-upload"></i>
                    <span>{%locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="fa fa-ban"></i>
                <span>{%locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <!-- <td></td> -->
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            <td class="delete">
                <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                    <i class="fa fa-trash"></i>
                    <span>{%locale.fileupload.destroy%}</span>
                </button>
                <input type="checkbox" name="delete" value="1">
            </td>

        {% } else { %}
            <td class="name" colspan="4">
              <div>
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">
                  <i class="fa fa-paperclip"></i>
                  {% if (file.name.length > 20) { %}
                  {%= file.name.substring(0,20) + '...' %}
                  {% } else { %}
                  {%= file.name %}
                  {% } %}
                </a>
                <span class="pull-right">
                  <span class="size">
                    <small>{%=o.formatFileSize(file.size)%}</small>
                  </span>

                  <span class="delete">
                    <button
                      class="btn btn-transparent btn-danger"
                      data-type="{%=file.delete_type%}"
                      data-url="{%=file.delete_url%}"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </span>

                  <button
                    class="btn btn-transparent js-attachment-url-copy"
                    data-clipboard-text="!{%= file.url %}!"
                  >
                    <i class="fa fa-link"></i>
                  </button>
                </span>
              </div>
            </td>
        {% } %}
    </tr>
{% } %}
</script>
