<% @fields.each_with_index do |field, ord| %>
    <% field_id = "markup-form-input-#{ord}" %>
    <div class="form-group">
        <label for="<%= field_id %>"><%= field.name %></label>
        <input type="text" id="<%= field_id %>" class="form-control markup-form-input" data-name="<%= field.name %>" value="<%= field.value %>">
    </div>
<% end %>
