<div id="modal_move_note" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= simple_form_for [@node, @note], html: {class: 'form-horizontal modal-note-selection-form', data:{ node_id: @node.id, note_id: @note.id }} do |f| %>

    <%= f.hidden_field :node_id %>
    <%= f.hidden_field :original_updated_at, value: @note.updated_at.to_i %>

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Move <%= @note.title %> note</h3>
    </div>
    <div class="modal-body">
      <p>Where do you want to move the <strong><%= @note.title %></strong> note?</p>

      <div class="tree-modal-box">
        <%= render "layouts/snowcrash/nodes" %>
      </div>
      <p id="move-under">
        Move under: <strong><span id="current-selection"></span></strong>
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary">Move</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  <% end %>
</div>
