<% content_for :title, 'Add methodology to project' %>

<%= simple_form_for @methodology, html: {class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, hint: 'You can customize the name of this methodology. Useful if you need to add the same one multiple times (e.g. several apps in one project).' %>
    <%= hidden_field_tag :methodology_id, @methodology.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Add to project', class: 'btn-primary' %> or
    <%= link_to 'Cancel', methodologies_path %>
  </div>
<% end %>