<section class="inner summary-panel">
  <h2>Issues so far</h2>

  <% if @issues.any? %>
    <div id="issue-chart"></div>

    <% for tag in @tags do %>
      <div class="issue-group">
        <h2 style="color: <%= tag.color %>"><%= tag.display_name %></h2>
        <ul class="issue-list drop-target" data-tag="<%= tag.name %>">
          <% for issue in @issues_by_tag[tag.name] %>
            <%= content_tag_for :li, issue, data: { url: project_issue_path(@project, issue, format: :json) } do %>
              <%= link_to issue.title, [@project, issue] %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%# unassigned %>
    <div class="issue-group">
      <h2>Unassigned</h2>
      <ul class="issue-list drop-target">
          <% for issue in @issues_by_tag[:unassigned] %>
            <%= content_tag_for :li, issue, data: { url: project_issue_path(@project, issue, format: :json) } do %>
              <%= link_to issue.title, [@project, issue] %>
            <% end %>
          <% end %>
      </ul>
    </div>

  <% else %>
    <p class="no-content">There are no issues in this project yet.</p>
    <div>
      <%= link_to project_issues_path(@project), class: 'btn btn-large btn-primary' do %>
        <i class="fa fa-plus"></i> Add new issue
      <% end %> or <%= link_to upload_manager_path() do %><i class="fa fa-cloud-upload fa-lg"></i> Upload output from tool<% end %>
    </div>
  <% end %>
</section>

<% if @issues.any? %>
  <div id='issues-summary-data' data-tags='<%= @tag_names.to_json %>' data-issues-count='<%= @count_by_tag.to_json %>'></div>
<% end %>
