<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">

    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target="#bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to @project.name, main_app.project_path(@project), class: 'brand' %>
      <div class="navbar-collapse" id="bs-navbar-collapse">
        <ul class="nav pull-right">
          <li><%= link_to main_app.project_search_path(@project), id: 'js-search-form-toggle' do %><i class="fa fa-search fa-lg"></i><% end %></li>
          <li><%= link_to main_app.project_upload_manager_path(@project) do %><i class="fa fa-cloud-upload fa-lg"></i> Upload output from tool<% end %></li>
          <li><%= link_to main_app.project_export_manager_path(@project) do %><i class="fa fa-file-text-o fa-lg"></i> Export results<% end %></li>
          <li><%= link_to main_app.configurations_path do %><i class="fa fa-cog fa-lg"></i> Configuration<% end %></li>
          <li class="notifications dropdown">
            <%= link_to main_app.project_notifications_path(@project), class: 'dropdown-toggle', data: {id: 'js-notifications-dropdown', toggle: 'dropdown'}, remote: true do %>
              <i class="fa fa-bell fa-lg"></i><b class="caret"></b><i class="notifications-dot"></i>
            <% end %>
            <div class="dropdown-menu" data-id="js-notification-container" data-url="<%= project_notifications_path(@project) %>"></div>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-question fa-lg"></i><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)" class="js-try-pro" data-term="training-course" data-url="http://drad.is/l/try-pro-course">Free training course</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)" class="js-try-pro" data-term="contact-support">Contact support</a></li>
              <li><a href="https://evening-hamlet-4416.herokuapp.com/" target="_blank">Chat on Slack</a></li>
              <li><a href="https://github.com/dradis/dradis-ce/issues" class="js-hs-beacon">Report an issue</a></li>
              <li><a href="http://dradisframework.org/documentation/" target="_blank">Support website</a></li>
              <li><a href="http://discuss.dradisframework.org" target="_blank">Community forums</a></li>
              <li class="divider"></li>
              <li><a href="https://dradisframework.com/careers/" target="_blank">We're hiring</a></li>
              <%# FIXME: re-enable Tour %>
              <!--
              <li class="divider"></li>
              <li><a href="javascript:void(0)" class="js-tour-start">Show Tour</a></li>
              -->
              <li class="divider"></li>
              <li><a href="javascript:void(0)" class="js-try-pro" data-term="try-pro" data-url="http://drad.is/l/try-pro-upgrade">Try Dradis Pro</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Log out', main_app.logout_path %></li>
            </ul>
          </li>
        </ul>
        <%= render "layouts/snowcrash/search" %>
      </div>
    </div>
  </div>
</div>
