<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-4"><%= provider.class.name.demodulize %></h5>

    <%= form_with model: provider,
        url: provider.new_record? ? providers_path : provider_path(provider) do |f| %>
      <%= f.hidden_field :type %>

      <div class="row g-3 mb-4">
        <div class="col-md-6">
          <%= f.label :name, class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <%= render "dradis/plugins/echo/providers/#{provider.class.name.demodulize.underscore}_fields", f: f, provider: provider %>

      <div class="form-actions">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', configurations_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
