<% content_for :title, "Edit #{@agent.name}" %>

<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Dashboard', main_app.root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Echo', prompts_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Agents', agents_path %></li>
    <li class="breadcrumb-item active">Edit <%= @agent.name %></li>
  </ol>
<% end %>

<div class="content-container">
  <h4 class="header-underline">Edit <%= @agent.name %></h4>
  <%= render 'form', agent: @agent %>
</div>
