<%= content_tag :div, id: "plugin-#{info[:name]}", class: 'tab-pane fade' do %>

  <%= form_tag project_export_manager_path(current_project), target: '_blank' do %>
    <%= hidden_field_tag :plugin, info[:name] %>

    <% if info[:routes].count == 0 %>
      <div class="alert alert-warning">
      <p><strong>Danger Will Robinson</strong>, this plugin is not defining any export routes.</p>
      <p>If we had some documentation, I'd point you to it! But for now,
        check this code: <a href="https://github.com/dradis/dradis-html_export/tree/master/config/routes.rb">dradis-html_export/config/routes.rb</a></p>
      </div>
    <% elsif info[:routes].count == 1 %>
      <%#
        # Excellent, we've got a single route, so no need to worry about
        # choosing one
      %>
      <%= hidden_field_tag :route, info[:routes].first[0] %>
    <% else %>
      <h4 class="header-underline">Choose an export option</h4>

      <% info[:routes].names.each do |route| %>
        <div class="custom-control custom-radio">
          <%= radio_button_tag :route, route, route == info[:routes].first, :class => 'custom-control-input' %>
          <label class="custom-control-label" for="route_<%= route %>"><%= route.to_s.humanize.titleize %></label>
        </div>
      <% end %>
    <% end %>


    <% if (info[:routes].count > 0) %>

      <% if info[:templates].count == 0 && info[:routes].count == 1 %>
        <h4 class="header-underline mb-0">Ready when you are!</h4>
      <% end %>

      <% if info[:templates].count < 2 %>
        <%= hidden_field_tag :template, info[:templates].first %>
        <button id="export-button" class="btn btn-lg btn-primary mt-4">Export</button>
      <% else %>
        <h4 class="header-underline">Choose a template</h4>
        <p>Please choose one of the templates available for this plugin (find them in <code>.<%= info[:templates_dir]%></code>)</p>

        <% info[:templates].each do |template| %>
        <div class="custom-control custom-radio">
          <%= radio_button_tag :template, template, template == info[:templates].first, :class => 'custom-control-input' %>
          <label class="custom-control-label" for="template_<%= template %>"><%= template %></label>
        </div>
        <% end %>

        <button id="export-button" class="btn btn-lg btn-primary mt-4">Export</button>
      <% end %>
    <% end %>

  <% end %>
<% end%>
