<% content_for :title, 'Export' %>

<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to current_project.name, project_path(current_project) %>
    </li>
    <li class="breadcrumb-item active">
      Export
    </li>
  </ol>
<% end %>

<% if Dradis::Plugins.with_feature(:export).empty? %>
  <div class="content-container">
    <div class="alert alert-error m-0">
      <p class="lead">Sorry, we were unable to detect any export plugins. This is strange because Dradis ships with a number of plugins installed by default.</p>
      <p class="mb-0">Check the Export section of your <code><%= Rails.root.join('Gemfile.plugins') %></code> file.</p>
    </div>
  </div>
<% else %>

  <ul id="plugin-chooser" class="tabs-container nav nav-tabs">
    <% if !defined?(Dradis::Pro) %>
      <li class="nav-item">
        <a href="#plugin-word" class="nav-link" data-bs-toggle="tab"><i class="fa-solid fa-file-word fa-fw"></i>Word</a>
      </li>
      <li class="nav-item">
        <a href="#plugin-excel" class="nav-link" data-bs-toggle="tab"><i class="fa-solid fa-file-excel fa-fw"></i>Excel</a>
      </li>
    <% end %>

    <%= render_view_hooks 'export/index-tabs', feature: :export %>
  </ul>
  <div class="content-container">
    <div class="tab-content">
      <%= render_view_hooks 'export/index-content', feature: :export %>

      <% if !defined?(Dradis::Pro) %>
        <div id="plugin-word" class="tab-pane fade" role="tabpanel">
          <h4 class="header-underline">Choose a template</h4>
          <p>Reports are fully customizable to fit your existing format. Upload multiple templates and tailor everything to your needs.</p>
          
          <div class="form-check">
            <input type="radio" name="word-template" id="word-1" class="form-check-input" checked>
            <label class="form-check-label" for="word-1">dradis_welcome_template.v0.10 - 
              <small>dradis_welcome_template.v0.10.docx</small>
            </label>
          </div>
          <div class="form-check">
            <input type="radio" name="word-template" id="word-2" class="form-check-input">
            <label class="form-check-label" for="word-2">dradis_owasp_template.v0.8 - 
              <small>dradis_owasp_template.v0.8.docx</small>
            </label>
          </div>
          <div class="form-check">
            <input type="radio" name="word-template" id="word-3" class="form-check-input">
            <label class="form-check-label" for="word-3">dradis_template-hipaa.v0.3 - 
              <small>dradis_template-hipaa.v0.3.docx</small>
            </label>
          </div>
          <div class="mt-4">
            <div class="btn-group btn-states" data-behavior="btn-states">
              <button id="export-button" class="btn btn-lg btn-primary">
                <a href="javascript:void(0)" class="js-try-pro" data-term="word-reports" data-url="https://dradis.com/pro/pages/reporting.html">
                  Export 
                  <span data-behavior="state-button"><%= @default_button_state.humanize %></span> 
                  Records
                </a>
              </button>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <%= collection_radio_buttons(nil, :scope, [['published', 'published'], ['all', 'all']], :first, :first) do |b| %>
                  <span>
                    <%= b.label class: 'state', for: "#word_scope_#{b.value}" do %>
                      <%= b.radio_button id: "#word_scope_#{b.value}", class: 'd-none', name: 'word-scope', data: { behavior: 'state-radio'}, checked: b.value == @default_button_state %>
                      <i class="fa-solid fa-check fa-fw"></i>
                      <div class="state-label">
                        <p data-behavior="state-label"><%= b.text.humanize %></p>
                        <% case b.value %>
                        <% when 'published' %>
                          <span>Only records that have been reviewed and published.</span>
                        <% when 'all' %>
                          <span>All records, regardless if they are draft, ready for review, or published.</span>
                        <% end %>
                      </div>
                    <% end %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div id="plugin-excel" class="tab-pane fade" role="tabpanel">
          <h4 class="header-underline">Choose a template</h4>
          <p>Reports are fully customizable to fit your existing format. Upload multiple templates and tailor everything to your needs.</p>
          
          <div class="form-check">
            <input type="radio" name="excel-template" id="excel-1" class="form-check-input" checked>
            <label class="form-check-label" for="excel-1">dradis_template-excel-owasp.v1.3 - 
              <small>dradis_template-excel-owasp.v1.3.xlsx</small>
            </label>
          </div>
          <div class="form-check">
            <input type="radio" name="excel-template" id="excel-2" class="form-check-input">
            <label class="form-check-label" for="excel-2">dradis_template-welcome.v1.5 - 
              <small>dradis_template-welcome.v1.5.xlsm</small>
            </label>
          </div>
          <div class="mt-4">
            <div class="btn-group btn-states" data-behavior="btn-states">
              <button id="export-button" class="btn btn-lg btn-primary">
                <a href="javascript:void(0)" class="js-try-pro" data-term="excel-reports" data-url="https://dradis.com/pro/pages/excel.html">
                  Export 
                  <span data-behavior="state-button"><%= @default_button_state.humanize %></span> 
                  Records
                </a>
              </button>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <%= collection_radio_buttons(nil, :scope, [['published', 'published'], ['all', 'all']], :first, :first) do |b| %>
                  <span>
                    <%= b.label class: 'state', for: "#excel_scope_#{b.value}" do %>
                      <%= b.radio_button id: "#excel_scope_#{b.value}", class: 'd-none', name: 'excel-scope', data: { behavior: 'state-radio'}, checked: b.value == @default_button_state %>
                      <i class="fa-solid fa-check fa-fw"></i>
                      <div class="state-label">
                        <p data-behavior="state-label"><%= b.text.humanize %></p>
                        <% case b.value %>
                        <% when 'published' %>
                          <span>Only records that have been reviewed and published.</span>
                        <% when 'all' %>
                          <span>All records, regardless if they are draft, ready for review, or published.</span>
                        <% end %>
                      </div>
                    <% end %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
