<% content_for :title, 'Export' %>

<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to current_project.name, project_path(current_project) %>
    </li>
    <li class="breadcrumb-item active">
      Export
    </li>
  </ol>
<% end %>

<% if Dradis::Plugins.with_feature(:export).empty? %>
  <div class="content-container">
    <div class="alert alert-error m-0">
      <p class="lead">Sorry, we were unable to detect any export plugins. This is strange because Dradis ships with a number of plugins installed by default.</p>
      <p class="mb-0">Check the Export section of your <code><%= Rails.root.join('Gemfile.plugins') %></code> file.</p>
    </div>
  </div>
<% else %>

  <ul id="plugin-chooser" class="tabs-container nav nav-tabs">
    <% if !defined?(Dradis::Pro) %>
      <li class="nav-item">
        <a href="#plugin-word" class="nav-link" data-bs-toggle="tab"><i class="fa-solid fa-file-word fa-fw"></i>Word</a>
      </li>
      <li class="nav-item">
        <a href="#plugin-excel" class="nav-link" data-bs-toggle="tab"><i class="fa-solid fa-file-excel fa-fw"></i>Excel</a>
      </li>
    <% end %>

    <%= render_view_hooks 'export/index-tabs', feature: :export %>
  </ul>
  <div class="content-container">
    <div class="tab-content">
      <% if !defined?(Dradis::Pro) %>
        <div id="plugin-word" class="tab-pane fade" role="tabpanel">
          <h4 class="header-underline">Choose a template</h4>
          <p>Reports are fully customizable to fit your existing format. Upload multiple templates and tailor everything to your needs.</p>
          
          <%= render partial: 'templates', 
            locals: { 
              labels: ['dradis_welcome_template', 'dradis_owasp_template', 'dradis_template-hipaa'],
              exporter: 'word'
            }
          %>
        </div>

        <div id="plugin-excel" class="tab-pane fade" role="tabpanel">
          <h4 class="header-underline">Choose a template</h4>
          <p>Reports are fully customizable to fit your existing format. Upload multiple templates and tailor everything to your needs.</p>

          <%= render partial: 'templates', 
            :locals => { 
              labels: ['dradis_template-excel-owasp', 'dradis_template-welcome'],
              exporter: 'excel'
            }
          %>
        </div>
      <% end %>

      <%= render_view_hooks 'export/index-content', feature: :export %>
    </div>
  </div>

<% end %>
