<%= form_for [@project, @tag] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, value: @tag.display_name %>

    <%= f.label :color %>
    <%= f.text_field :color, value: @color%>
  </div>
  <div class="form-group mb-0 pt-1">
    <%= submit_tag 'Update', class: 'btn btn-primary mt-4', data: { behavior: 'animate-click' } %>
  </div>
<% end %>
