<%= content_tag :div, class: "modal hide", id: "new-tag-modal",
  tabindex: "-1",
  role: :dialog,
  aria: {
    labelledby: :myModalLabel,
    hidden: :true
  } do %>
  <div class="modal-header">
    <h3>New Tag</h3>
  </div>
  <div class="modal-body new-tag">     
    <%= label_tag :name %>    
    <%= text_field_tag :tag_name %>
    <%= color_field(:tag, "color", class: "tag-colorpicker", value: "#ffa500") %>
  </div>
  <div class="modal-footer">
    <%= button_tag "Submit", class: "btn btn-primary", id: "create-tag",
      data: {
        dismiss: :modal,
        url: project_tags_path
      },
      aria: {hidden: true} 
    %>
    <%= button_tag "Close", class: "btn",
      data: { dismiss: :modal} , 
      aria: {hidden: true} 
    %>
  </div>
<% end %>