<%= link_to '#new-tag-modal', class: "btn", data: {toggle: 'modal'} do %>
  <i class="fa fa-plus"></i>
  New Tag
<% end %> 
<div class="btn-toolbar">      
  <div class="pull-left">
    <h5>
      <%= pluralize(@tags.total_count, 'result') %>
      <%= params[:name].present? ? "for \"#{params[:name]}\"" : "" %>
    </h5>
  </div>
  <div class="filter pull-right">
    <%= form_tag project_tags_path, method: :get do %>
      <%= search_field_tag :name, nil, placeholder: "Search by tag name or colour..." %>
    <% end %>              
  </div>
</div>