<% content_for :title, 'Tags' %>

<%= link_to new_project_tag_path(current_project), class: 'btn btn-primary mb-3' do %>
  <i class="fa fa-plus"></i> Add a tag
<% end %>

<!-- Main content -->
<div id="tag-viewer">

  <div class="inner note-text-inner">

    <% if @tags.any? %>
      <div id="tags-table"
           data-storage-key="project.ce.tag_columns"
           data-close-console-url="<%= project_tags_path(current_project) %>">
        <%= render 'table', tags: @tags %>
      </div>
    <% else %>
      <%= render 'empty' %>
    <% end %>
  </div>
</div>

<%= render 'console/console' %>
