<!-- Main content -->
<div class="content-container">
  <h4 class="header-underline"> Tags Management
    <span class="actions pt-1">
      <%= link_to new_project_tag_path(current_project), class: 'btn btn-primary', remote: true do %>
      <i class="fa fa-plus"></i> New Tag
    <% end %>
    </span>
  </h4>
  <% if @tags.any? %>
    <div data-behavior="datatable-paths"
         data-table-destroy-url="<%= multiple_destroy_project_tags_path(current_project) %>"
         data-table-destroy-confirmation="Are you sure?&#10;&#10;Proceeding will delete the selected tag(s) and any associated tagging."
         data-table-close-console-url="<%= project_tags_path(current_project) %>" >
      <%= render 'table' %>
    </div>
  <% else %>
  <div class="empty-state mt-3">
    <div class="empty-state-icon">
      <%= image_tag "icons/#{rand(9)}.svg" %>
    </div>
    <div class="empty-state-body">
      <div class="container">
        <h4 class="empty-state-title">There are no tags created yet.</h4>
        <p class="empty-state-body-text">Create and use tags to manage your issues.</p>
        <div class="empty-state-actions">
          <a href="https://dradisframework.com/support/guides/projects/tags.html"
          class="empty-state-docs-link" target="_blank">More about tags</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
