<% content_for :title, 'Tags List' %>
<div class="content-container" id="issue-viewer">
  <div class="note-text-inner">
    <%= link_to  new_project_tag_path(current_project) do %>
      <i class="fa fa-plus fa-fw"></i> New Tag
    <% end %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Count</th>
          <th scope="col">Created</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <th scope="row"><%=tag.id%></th>
            <td style="color:<%=tag.color%>"><%=tag.display_name%></td>
            <td><%=tag.taggings_count%></td>
            <td><%=tag.created_at.to_date%></td>
            <td class="column-actions">
              <%= link_to  edit_project_tag_path(current_project, tag) do %>
                <i class="fa fa-pencil fa-fw"></i> Edit
              <% end %>
              <%= link_to [current_project, tag], method: :delete, data: { confirm: "Are you sure?" }, class: 'text-error-hover' do %>
                <i class="fa fa-trash"></i> Delete
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
