<%= turbo_frame_tag 'top_issues' do %>
  <div data-behavior="fetch-loader" class="d-none">
    <%= spinner_tag %>
  </div>
  <div data-behavior="widget-content">
    <% if @bi_top_issues.any? %>
      <% max_count = @bi_top_issues.first[:count].to_f %>
      <% @bi_top_issues.each do |issue| %>
        <div class="d-flex flex-row align-items-center justify-content-between progress-wrap">
          <p class="pe-3 text-end text-truncate issue-title"><%= issue[:title] %></p>
          <div class="progress w-100">
            <% percent = (issue[:count].to_f / max_count) * 100 %>
            <div
              class="progress-bar"
              role="progressbar"
              style="width: <%= percent %>%; background-color: <%= issue_bar_color(issue[:issue]) %>"
              aria-valuenow="<%= issue[:count] %>"
              aria-valuemin="0"
              aria-valuemax="<%= max_count %>">
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-muted text-center mt-4">No issues created this year yet.</p>
    <% end %>
  </div>
<% end %>
