<nav class="navbar navbar-expand-lg instance-nav">
  <div class="container-fluid">
    <% if !defined?(Dradis::Pro) %>
      <%= link_to main_app.project_path(current_project), class: 'navbar-brand' do %>
        <%= image_tag 'logo_small.png', alt: 'Dradis CE logo', class: 'p-lg-0' %>
      <% end %>
    <% else %>
      <%= link_to current_user.role?(:contributor) ? main_app.contributors_home_path : main_app.dashboard_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo_small.png', alt: 'Dradis Pro logo', class: 'p-lg-0' %>
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-behavior="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".dual-nav" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-end dual-nav" id="instance_navbar" data-behavior="navbar-collapse">
      <ul class="navbar-nav navbar-nav-scroll me-auto pb-0">
        <li class="nav-item d-lg-none">
          <%= render "layouts/hera/navbar/search" %>
        </li>
        <% if defined?(Dradis::Pro) %>
          <%= content_tag :li, class: class_names('nav-item', active: controller_path == 'dashboard') do %>
            <% link_to 'Dashboard', current_user.role?(:contributor) ? main_app.contributors_home_path : main_app.dashboard_path, class: 'nav-link' %>
          <% end %>
          <% if can?(:read, Team) -%>
            <%= content_tag :li, class: class_names('nav-item', active: controller_path == 'teams') do %>
              <%= link_to 'Teams', main_app.teams_path, class: 'nav-link' %>
            <% end %>
          <% end %>
          <% if can?(:read, Project)  -%>
            <%= content_tag :li, class: class_names('nav-item', active: controller_path == 'projects') do %>
              <%= link_to 'Projects', main_app.projects_path, class: 'nav-link' %>
            <% end %>
          <% end -%>

          <%= render 'shared/navigation/integrations_menu' if current_user.role?(:admin) %>
          <%= render 'shared/navigation/tools_menu' %>

          <% if current_user.role?(:admin) -%>
            <%= content_tag :li, class: class_names('nav-item', active: controller_path == 'admin/mappings') do %>
              <%= link_to 'Mappings Manager', main_app.admin_mappings_index_path, class: 'nav-link' %>
            <% end %>

            <%= content_tag :li, class: class_names('nav-item', 'dropdown', active: controller_path.include?('admin/templates')) do %>
              <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                id="templatesDropdown" role="button" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
              >
                Templates
              </a>
              <ul class="dropdown-menu" aria-labelledby="templatesDropdown">
                <li><%= link_to 'Methodologies', main_app.admin_templates_methodologies_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'Notes', main_app.admin_templates_notes_path,  class: 'dropdown-item' %></li>
                <li><%= link_to 'Projects', main_app.admin_templates_projects_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'Reports', main_app.admin_templates_reports_path, class: 'dropdown-item' %></li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li><%= link_to 'Kit Upload',  main_app.admin_templates_kits_path, class: 'dropdown-item' %></li>
              </ul>
            <% end %>

            <%= content_tag :li, class_names('nav-item', active: controller_path == 'admin/users') do %>
              <%= link_to 'Users', main_app.admin_users_path, class: 'nav-link' %>
            <% end %>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to 'javascript:void(0)', class: 'js-try-pro nav-link', data: { term: 'projects', url: 'https://dradis.com/pro/pages/projects.html' } do %>
              <span>Projects</span>
            <% end %>
          </li>
          <%= render 'shared/navigation/tools_menu' %>
        <% end %>
      </ul>

      <%= render 'shared/navigation/utility_nav' %>
    </div>
  </div>
</nav>
