<% content_for :title, @board.name %>

<%= render 'poller_alerts' unless request.xhr? %>

<%# FIXME: this is the current convention for modal rendering in Tylium. We
  #   could probably improve it by making use of a single :content_for block %>
<% content_for :board_rename_modal do %>
  <%= render partial: 'boards/modals/board_rename_form', locals: { board: @board } %>
<% end %>

<% content_for :breadcrumbs do %>
<nav class="dots-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Methodologies', project_boards_path(current_project) %>
    </li>
    <li class="breadcrumb-item active"><%= @board.name %></li>
  </ol>
  <ul class="nav">
    <li class="dropdown dots-dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h fa-lg"></i><span class="sr-only">Toggle menu</span></a>
      <div class="dropdown-menu">
        <%=
          link_to(
            "#modal-board-edit-#{@board.id}",
            class: 'dropdown-item',
            data: { behavior: 'board-modal' },
            tabindex: -1
          ) do
        %>
          <i class="fa fa-pencil fa-fw"></i> Edit
        <% end %>
        <%=
          link_to(
            [current_project, @board],
            class: 'dropdown-item text-error',
            data: { confirm: "Are you sure?\n\nProceeding will delete this methodology from the project, as well as with any associated lists and tasks." },
            method: 'delete',
            tabindex: -1
          ) do %>
          <i class="fa fa-trash fa-fw"></i> Delete
        <% end %>
      </div>
    </li>
  </ul>
</nav>
<% end %>

<%= render @board %>
