<% content_for :title, 'Dradis Echo Configuration' %>

<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Dashboard', main_app.root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Echo', prompts_path %></li>
    <li class="breadcrumb-item active">Configuration</li>
  </ol>
<% end %>

<%= content_for :sidebar do %>
  <div class="header">
    <div class="header-inner">
      <h5 class="header-name">Configuration Tips</h5>
      <div class="options">
        <%= link_to '#configuration-tips', data: { bs_toggle: 'collapse', behavior: 'collapse-collection' } do %>
          <i class="fa-solid fa-chevron-up" data-behavior="toggle-chevron"></i><span class="visually-hidden">Toggle Configuration Tips</span>
        <% end %>
      </div>
    </div>
  </div>
  <div id="configuration-tips" class="collapse show">
    <div class="alert alert-primary mt-0">
      <p>
        These settings apply to everyone in your account. Enable agents and assign a provider to each tool to start using AI-assisted features across your projects.
      </p>
      <p class="text-end card-link mb-0">
        More about
        <%= link_to 'Echo', 'https://dradis.com/support/guides/echo/', target: '_blank' %>
      </p>
    </div>
  </div>
<% end %>

<div class="content-container">
  <h4 class="header-underline">Configuration</h4>

  <%= form_with model: @configuration_form, url: configurations_path, method: :patch do |f| %>
    <% @configuration_form.class.agents.each do |agent| %>
      <% form_key = agent.form_key %>
      <%= f.fields_for form_key, @configuration_form.send(form_key) do |cf| %>
        <%= render "dradis/plugins/echo/configurations/#{agent.name.demodulize.underscore}", f: cf %>
      <% end %>
    <% end %>

    <div class="form-actions">
      <%= f.submit 'Save configuration', class: 'btn btn-primary' %>
      or <%= link_to 'Cancel', configurations_path %>
    </div>
  <% end %>
</div>
