<%
  item_css = ['list-item']
  item_css << ' active' if (request.format.html? and @evidence == evidence)
%>

<%= content_tag :div, id: "#{dom_id(evidence)}_link", class: item_css.join do %>
  <div class="expansion-container">
    <%= link_to edit_node_evidence_path(@node, evidence), class: 'list-item-edit' do %>
      <i class="fa fa-pencil"></i> Edit
    <% end %>
    <%= link_to node_evidence_path(@node, evidence) do %>
      <%
        options = { class: 'fa fa-flag list-item-icon' }
        if tag = evidence.issue.tags.first
          options[:style] = "color: #{tag.color}"
        end
      %>
      <%= content_tag :i, nil, options%>
      <%= evidence.issue.title %>
    <% end %>
  </div>
  <% end %>
