<%= simple_form_for [@node, @evidence] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :issue, collection: Issue.where(node_id: Node.issue_library.id).sort, label_method: :title, prompt: 'Choose an Issue' %>
    <%= f.input :content, input_html: { class: 'textile', data: { preview_url: preview_path, help_url: markup_path } } %>
  </div>

  <% if @evidence.persisted? %>
    <%= hidden_field :evidence, :original_updated_at, value: @evidence.updated_at.to_i %>
  <% end %>

  <div class="form-actions">
    <%= hidden_field_tag :back_to, :issue if params[:back_to] == 'issue' %>
    <%= f.button :submit, nil, class: 'btn btn-primary' %> or
    <%= link_to 'Cancel', node_path(@node) %>
  </div>
<% end %>
