<%= simple_form_for [current_project, @node, @evidence] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :issue, collection: current_project.issues.sort, label_method: :title, prompt: 'Choose an Issue' %>
    <%=
      f.input :content,
      input_html: {
        class: 'textile h-100',
        data: textile_default_data.merge({
          allow_dropdown: @evidence.new_record?,
          autosave_key: "#{current_project.id}-evidence-#{ @evidence.persisted? ? "edit-#{@evidence.id}" : "new-for-#{@node.id}" }",
          behavior: 'auto-save'
        }),
        disabled: true,
        rows: 20
      }
    %>
  </div>

  <% if @evidence.persisted? %>
    <%= hidden_field :evidence, :original_updated_at, value: @evidence.updated_at.to_i %>
  <% end %>

  <div class="form-actions">
    <%= hidden_field_tag :back_to, :issue if params[:back_to] == 'issue' %>
    <%= f.button :submit, nil, class: 'btn btn-primary' %> or
    <%= link_to 'Cancel', project_node_path(@node.project, @node) %>
  </div>
<% end %>
