<% content_for :title, "View evidence for #{@node.label} / #{@evidence.issue.title}" %>

<% if @conflicting_revisions %>
  <%= render "projects/conflicting_revisions", conflicts: @conflicting_revisions, record: @evidence %>
<% end %>

<% content_for :breadcrumbs do %>
  <nav class="dots-container">
    <%= render partial: 'breadcrumbs' %>
    <ul class="nav">
      <li class="dropdown dots-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h fa-lg"></i><span class="sr-only">Toggle menu</span></a>
        <div class="dropdown-menu">
          <%= link_to edit_project_node_evidence_path(@node.project, @node, @evidence), class: 'dropdown-item' do %>
            <i class="fa fa-pencil fa-fw"></i> Edit
          <% end %>
          <%= link_to [current_project, @node, @evidence],
            class: 'dropdown-item text-error-hover',
            data: { confirm: "Are you sure?\n\nProceeding will delete this evidence from the associated node." },
            method: :delete do %>
            <i class="fa fa-trash fa-fw"></i> Delete
          <% end %>
          <%= render partial: 'subscriptions/actions', locals: { subscribable: @evidence, dots_menu: true } %>
        </div>
      </li>
    </ul>
  </nav>
<% end %>

<div class="row m-0">
  <ul class="tabs-container nav nav-tabs main-tabs w-100">
    <li class="nav-item">
      <a href="#evidence-tab" data-toggle="tab" class="nav-link active">
        <%= colored_icon_for_model(@evidence, 'fa-flag')%> Evidence
      </a>
    </li>
    <li class="nav-item">
      <a href="#info-tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-bug"></i> Information
      </a>
    </li>
    <li class="nav-item">
      <a href="#activity-tab" data-toggle="tab" class="nav-link"><i class="fa fa-rss"></i> Recent activity</a>
    </li>
  </ul>
</div>

<div class="row m-0">
  <div class="col-12 col-xxl-7 p-0">
    <div class="content-container mt-0 pb-3 mr-xxl-3">
      <div class="tab-content mt-0">
        <div class="tab-pane active" id="evidence-tab" data-behavior="subscription-actions" data-subscribed="<%= !@subscription.nil? %>">
          <% cache ['evidence-evidence-tab', @evidence] do %>
            <div class="note-text-inner">
              <h4 class="header-underline">Evidence for this instance</h4>

              <div class="content-textile">
                <%= markup(@evidence.content) %>
              </div>
              <div class="author-info">
                <span class="ml-auto">Author: <%= @evidence.author || 'n/a' %></span>
              </div>
            </div>
          <% end %>
        </div>

        <% cache ['evidence-information-tab', @issue] do %>
          <div class="tab-pane" id="info-tab">
            <h4 class="header-underline">
              Issue information -
              <span class="actions">
              <%= link_to project_issue_path(current_project, @issue) do %>
                <i class="fa fa-external-link" aria-hidden="true"></i> Open
              <% end %> -
              <%= tag_and_name_for(@issue) %>
              </span>
            </h4>
            <div id="<%= dom_id(@issue) %>_text" class="content-textile">
              <%= markup(@issue.text) %>
            </div>
          </div>
        <% end %>

        <% cache ['evidence-activity-tab', @evidence, @activities] do %>
          <div class="tab-pane" id="activity-tab">
            <h4 class="header-underline">
              Recent activity
              <% if @evidence.has_revision_history? %>
                -
                <span class="actions">
                  <%#
                    # Some legacy content was created before paper_trail, so we need to
                    # make sure that there is at least one revision associated to the
                    # model.
                    #%>
                  <%= link_to(project_node_evidence_revisions_path(@node.project, @node, @evidence)) do %>
                    <i class="fa fa-history"></i> Revision history
                  <% end %>
                </span>
              <% end %>
            </h4>
            <%= render 'activities/feed', activities: @activities %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 col-xxl-5 p-0">
    <div class="sticky-top">
      <div class="content-container ml-xxl-3 mt-0">
        <div class="fetch-container" data-behavior="fetch" data-path="<%= main_app.comments_path(commentable_type: @evidence.class, commentable_id: @evidence.id) %>"></div>
      </div>

      <div class="content-container ml-xxl-3">
        <%= render 'subscriptions/feed', subscribable: @evidence %>
      </div>
    </div>
  </div>
</div>
