<div id="modal_merge_node" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_tag project_node_merge_path(current_project, @node), class: 'form-horizontal modal-node-selection-form', data: { node_id: @node.id, hidden_field: '#target_id' } do |f| %>
    <%= hidden_field_tag :target_id %>

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Merge <%= @node.label %> node</h3>
    </div>
    <div class="modal-body">
      <p>Which node do you want to merge <strong><%= @node.label %></strong> into?</p>

      <div class="tree-modal-box">
        <%= render "layouts/snowcrash/nodes" %>
      </div>
      <p id="merge-under">
        <span>This will merge <strong><%= @node.label %></strong> into: <strong><span id="current-selection"></span></strong></span>
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary">Merge</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  <% end %>
</div>
