<%= flash_messages %>

<%= render partial: 'setup/progress' %>

<%= form_tag(setup_analytics_path) do -%>
  <h1>Making Dradis better, together!</h1>
  <p class="small">We need your help to make Dradis better.</p>
  <p class="small">
    <a
      href="https://dradis.com/why-dradis.html?utm_source=ce&utm_medium=app&utm_campaign=analytics#privacy"
      target="_blank">Privacy and data sovereignty</a>
    are two of the top reasons why teams choose Dradis, that's why we don't
    track individual users, or project data, only aggregated anonymous
    feature usage. We use an open-source and privacy-friendly solution.
  </p>
  <p class="small mb-0">Would you help us improve?</p>

  <div class="d-flex">
    <%= button_tag name: 'analytics', value: '0', class: 'btn btn-outline-primary' do %>
      No thanks. <i class="fa-solid fa-long-arrow-right"></i>
    <% end %>
    <%= button_tag name: 'analytics', value: '1', class: 'btn btn-primary' do %>
      Yes, I'd like to help! <i class="fa-solid fa-long-arrow-right"></i>
    <% end %>
  </div>

  <p class="small">
    Read the <a
      href="https://dradis.com/ce/privacy.html?utm_source=ce&utm_medium=app&utm_campaign=analytics"
      target="_blank">Privacy FAQ</a>.
  </p>
<% end %>
