<%= simple_form_for [current_project, @board, @list, @card], html: {
  data: {
    'as-project-id': current_project.id,
    'as-resource-id': @card.id,
    'as-resource-type': 'card',
    behavior: 'server-auto-save'
  }
} do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, required: false %>
  <%= f.input :due_date, html5: true, include_blank: true %>

  <%=
    f.input :description,
      input_html: {
        class: 'textile h-100',
        data: textile_default_data.merge(
          allow_dropdown: @card.new_record?,
          behavior: 'rich-toolbar',
          'rich-toolbar': 'block-code bold field italic link list-ol list-ul table'
        ),
        label: false,
        rows: 20
      }
  %>
  
  <%=
    f.association(
      :assignees,
      collection: current_project.authors.sort_by(&:name),
      label_method: lambda do |user|
        avatar_image(user, include_name: true, size: 30)
      end,
      value_method: :id,
      as: :check_boxes,
      item_wrapper_tag: :div,
      boolean_style: :inline
    )
  %>

  <div class="form-actions">
    <%= f.button :submit, nil, class: 'btn btn-primary' %> or
    <%=
      link_to 'Cancel',
        @card.persisted? ? [current_project, @board, @list, @card] : [current_project, @board],
        class: 'cancel-link'
    %>
  </div>
<% end %>
