<div class="activity-filters ">
  <%= form_with url: project_activities_path(current_project.id), method: :get, local: true, class: 'form-row d-flex flex-row' do |f| %>
    <%= f.select :user, options_from_collection_for_select(User.all, :id, :name, params[:user]), {include_blank: 'Filter by user'}, { class: 'form-select m-2 form-select-sm' } %>

    <%= f.select :type, Activity.select(:trackbable_type).distinct.pluck(:trackable_type), {include_blank: 'Filter by type', selected: params[:type]}, { class: 'form-select m-2 form-select-sm' } %>

    <div id="daterangepicker" class="input-group">
      <%= f.text_field :period_start, placeholder: "From date", value: params[:period_start], class: 'form-control form-control-sm my-2' %>
      <span class="input-group-text input-group-sm my-2">to</span>
      <%= f.text_field :period_end, placeholder: "To date", value: params[:period_end], class: 'form-control form-control-sm my-2' %>
    </div>

    <%= f.submit 'Apply', class: "form-submit m-2 form-submit" %>
    <%= link_to 'Clear',project_activities_path(current_project.id) , class: "btn btn-danger m-2 pt-2" %>
  <% end %>
</div>
