<div class="activity-filters">
  <%= form_with url: project_activities_path(current_project.id), method: :get, remote: true, class: 'form-row d-flex flex-row' do |f| %>
    <%= f.label :user, 'Filter by user', class: 'visually-hidden' %>
    <%= f.select :user, options_from_collection_for_select(User.all, :id, :name, params[:user]), { include_blank: 'All users' }, { class: 'form-select m-2 form-select-sm' } %>

    <%= f.label :type, 'Filter by type', class: 'visually-hidden' %>
    <%= f.select :type, options_from_collection_for_select(Activity.select(:trackbable_type).distinct.pluck(:trackable_type), :to_s, :demodulize ), { include_blank: 'All types', selected: params[:type] }, { class: 'form-select m-2 form-select-sm' } %>
    <div class="input-group">
      <span class="input-group-text input-group-sm my-2">Date range from</span>
      <%= f.label :period_start, class: 'visually-hidden' %>
      <%= f.date_field :period_start, max: Date.today, placeholder: 'From date', value: params[:period_start], class: 'form-control form-control-sm my-2' %>
      <span class="input-group-text input-group-sm my-2">to</span>
      <%= f.label :period_end, class: 'visually-hidden' %>
      <%= f.date_field :period_end, max: Date.today, placeholder: 'To date', value: params[:period_end] || Date.today, class: 'form-control form-control-sm my-2' %>
    </div>

    <%= link_to 'Clear', project_activities_path(current_project.id) , class: "btn btn-danger m-2 pt-2" %>
  <% end %>
</div>
