<% content_for :title, 'All Activity' %>

<% content_for :breadcrumbs do %>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Dashboard', project_path(current_project) %>
      </li>
      <li class="breadcrumb-item active">All Activity</li>
    </ol>
  </nav>
<% end %>

<div class="content-container mt-3 <%= 'pt-3' if @activities_groups.any? %>">
  <% if @activities_groups.any? %>
    <div class="container">
      <div class="activities-groups-container" data-behavior="activities-groups-container" data-page="<%= params[:page].present? ? params[:page] : 1 %>" data-url="<%= project_activities_path(current_project, format: :js) %>">
        <%= render 'activities_groups', activities_groups: @activities_groups %>
      </div>

      <div class="text-center mt-3 spinner-container" data-behavior="activities-spinner">
        <div class="spinner-border text-primary" role="status"></div>
      </div>
    </div>
  <% else %>
    <p class="text-center">There has been no activity yet.</p>
  <% end %>
<div>
