<% content_for :title, 'All Activity' %>

<% content_for :breadcrumbs do %>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Dashboard', project_path(current_project) %>
      </li>
      <li class="breadcrumb-item active">All Activity</li>
    </ol>
  </nav>
<% end %>

<div class="content-container mt-3 <%= 'pt-3' if @activities.any? %>">
  <% if @activities.any? %>
    <div class="container all-activities-container">
      <% @activities.each do |activity| %>
        <% present activity do |activity_presenter| %>
          <div class="activity-date-header" data-behavior="activity-date-header">
            <%= activity_presenter.activity_day %>
          </div>
          <%= div_for(activity, data: { behavior: 'activity' }) do %>
            <div class="details">
              <%= activity_presenter.avatar_with_link(35) %>
            </div>
            <div class="body">
              <div class="title">
                <%= activity_presenter.render_title %>
              </div>
              <div class="activity-time">
                <%= activity_presenter.activity_time %>
              </div>
            </div>
            
            <%= activity_presenter.icon %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">There has been no activity yet.</p>
  <% end %>
</div>
