<% content_for :title, 'All project activity' %>

<% content_for :breadcrumbs do %>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Dashboard', project_path(current_project) %>
      </li>
      <li class="breadcrumb-item active">All Project Activity</li>
    </ol>
  </nav>
<% end %>

<div class="content-container mt-3">
  <% if @activities.any? %>
    <% @activities.each do |activity| %>
      <% present activity do |activity_presenter| %>
        <%= div_for activity do %>
          <div class="details">
            <%= activity_presenter.avatar_with_link(35) %>
          </div>
          <div class="body">
            <div class="title">
              <%= activity_presenter.render_title %>
            </div>
            <div class="time">
              <%= activity_presenter.created_at_ago %>
            </div>
          </div>
          <%= activity_presenter.icon %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p class="mb-0">There has been no activity yet.</p>
  <% end %>
</div>
