<% content_for :title, 'All Activity' %>

<% content_for :breadcrumbs do %>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Dashboard', project_path(current_project) %>
      </li>
      <li class="breadcrumb-item active">All Activity</li>
    </ol>
  </nav>
<% end %>

<div class="content-container mt-3 <%= 'pt-3' if @activities_groups.any? %>">
  <% if @activities_groups.any? %>
    <div class="container all-activities-container" data-page="1">
      <% @activities_groups.each do |date, activities| %>
        <div class="activities-group-container">
          <div class="activity-date-header">
            <% present activities.first do |activity_presenter| %>
              <%= activity_presenter.activity_day %>
            <% end %>
          </div>

          <div class="activities-group">
            <% activities.each do |activity| %>
              <% present activity do |activity_presenter| %>

                <%= div_for(activity, data: { behavior: 'activity' }) do %>
                  <div class="details">
                    <%= activity_presenter.avatar_with_link(35) %>
                  </div>
                  <div class="body">
                    <div class="title">
                      <%= activity_presenter.render_title %>
                    </div>
                    <div class="activity-time">
                      <%= activity_presenter.activity_time %>
                    </div>
                  </div>

                  <%= activity_presenter.icon %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="text-center mt-3 d-none">
        <div class="spinner-border text-primary" role="status"></div>
      </div>
    </div>
  <% else %>
    <p class="text-center">There has been no activity yet.</p>
  <% end %>
<div>
