<%= content_tag(:span, "", class: "fa fa-flag")  %>
<% if row.title? %>
  <%= link_to row.title.to_s, node_evidence_path(row.node_id, row),
    class: "search-match-title" %>
<% else %>
  <%= link_to "Evidence #{row.id}", node_evidence_path(row.node_id, row),
    class: "search-match-title" %>
<% end %>
<%= content_tag :p, "Last updated: " + time_ago_in_words(row.updated_at) + "ago",
  class: "search-updated-ago" %>
<div class="match-snippet">
  <%= text_snippet row.content, params[:q] %>
</div>
