<div class="echo-response">
  <div class="accordion" id="accordionEcho">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrompt" aria-expanded="false" aria-controls="collapseOne">
          <%= template.icon %> <%= template.title %>
        </button>
      </h2>
      <div id="collapsePrompt" class="accordion-collapse collapse" data-bs-parent="#accordionEcho" style="">
        <div class="accordion-body">
          <%= simple_format prompt %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseResponse" aria-expanded="true" aria-controls="collapseResponse">
          <i class="fa-solid fa-wifi"></i>&nbsp;Echo
        </button>
      </h2>
      <div id="collapseResponse" class="accordion-collapse" data-bs-parent="#accordionEcho" style="">
        <!-- <div id="<%= response_id %>" class="border border-info rounded p-2 mb-4 font-weight-light" style="white-space-collapse: preserve"></div> -->

        <div id="<%= response_id %>" class="accordion-body">
        </div>
      </div>
    </div>
  </div>
</div>
