<!doctype html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Dradis Community Edition" %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="unauthenticated <%= controller_name %>">

    <%= render 'shared/noscript' %>

    <div class="page-header d-flex justify-content-center my-5">
      <%= link_to image_tag('logo_small.png', height: 100), 'http://dradisframework.org' %>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <div class="container mt-3">
        <p><a href="http://dradisframework.org" target="_blank">http://dradisframework.org</a></p>
      </div>
    </footer>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
