<!doctype html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Dradis Community Edition" %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="unauthenticated <%= controller_name %>">
    <!-- //////////////////////////////////////// -->
    <!-- ////////// NOSCRIPT WARNING //////////// -->
    <!-- //////////////////////////////////////// -->
    <noscript>
      <div class="alert alert-danger">
        <div class="container">
          <h1>Dradis works best with JavaScript</h1>
          <p class="lead">Whilst there is a good chance you can get away with using Dradis without JavaScript,<br/>the app design assumes JS will be enabled.</p>
          <p class="lead">Please <strong>allow JavaScript</strong> to get the most flawless experience!</p>
        </div>
      </div>
    </noscript>


    <!-- //////////////////////////////////////// -->
    <!-- ////////// PAGE TITLE ////////////////// -->
    <!-- //////////////////////////////////////// -->
    <% if content_for?(:title) -%>
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <h1><%= yield(:title) %></h1>
          </div>
        </div>
      </div>
    </section>
    <% end %>

    <!-- //////////////////////////////////////// -->
    <!-- ////////// MAIN CONTENT SECTION //////// -->
    <!-- //////////////////////////////////////// -->
    <%= yield %>

    <!-- //////////////////////////////////////// -->
    <!-- ////////// FOOTER ////////////////////// -->
    <!-- //////////////////////////////////////// -->
    <footer>
      <div class="container">
        <p><a href="http://dradisframework.org" target="_blank">http://dradisframework.org</a></p>
        <%= link_to image_tag('logo_tiny.png'), 'http://dradisframework.org' %>
      </div>
    </footer>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
