<!doctype html>
<html lang="en">
  <head>
    <title><%= [content_for(:title), 'Dradis Community Edition'].compact.join(' | ') %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="unauthenticated <%= controller_name %> <%= class_names(holiday: december?) %>">

    <%= render 'shared/noscript' %>

    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-5">
          <div class="form-container card card-body">
            <div class="logo-icons" data-behavior="logo-icons"></div>
            <%= image_tag december? ? 'holiday_logo' : 'logo_full_small', alt: 'Dradis CE logo', class: 'logo' %>
            <div class="form-container-inner">
              <%= flash_messages %>
              <%= yield %>
            </div>
            <footer>
             <p>Dradis Community Edition - <a href="http://drad.is">http://drad.is</a></p>
            </footer>
          </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
          <div class="mission-container">
            <span class="text-monospace" data-behavior="mission-text"></span>
            <span class="mission-text-cursor" data-behavior="mission-text-cursor">&block;</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
