<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Dradis Community Edition" %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="current-user-id" content="<%= current_user.id %>">
    <% if flash.any? %>
      <% # when flash messages present, disable turbolinks cache to avoid
        # the message appear and disappear in the next page load %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    <%= render 'comments/mentionable_users' if @mentionable_users %>

    <%= favicon_link_tag %>

    <%= stylesheet_link_tag 'tylium', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'tylium', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tag %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <%= render 'layouts/tylium/navbar' %>

    <%= render 'layouts/tylium/sidebar' %>

    <div class="body-wrapper">
      <div class="main-wrapper">
        <div class="main-content <%= content_for?(:sidebar) ? 'pl-0' : ''%>">
          <noscript>
            <div class="alert alert-error" style="margin: 2em">
              <h4>Error</h4>
              <p>Please enable JavaScript support.</p>
            </div>
          </noscript>

  <div class="body-wrapper">
    <div class="main-wrapper">
      <div class="main-content <%= content_for?(:sidebar) ? 'no-padding' : ''%>" data-behavior='mentions-scroll'>
        <noscript>
          <div class="alert alert-notice d-none" style="margin: 2em" data-behavior="project-teaser">
            <h3>This isn't the project you're looking for</h3>
            <p>
              If you're looking to work with multiple projects, consider <a href="javascript:void(0)"
              class="js-try-pro" data-term="projects" data-url="http://drad.is/l/try-pro-projects">checking Dradis Pro out</a>.
            </p>
          </div>

          <div id="view-content" class="view-content">
            <% if content_for?(:sidebar) %>
              <div class="secondary-navbar">
                <div class="inner">
                  <%= yield :sidebar %>
                </div>
              </div>
              <div class="secondary-navbar-content">
                <%= flash_messages %>
                <%= render "layouts/tylium/breadcrumb" %>
                <%= content_for?(:content) ? yield(:content) : yield %>
              </div>
            <% else %>
              <%= yield(:breadcrumbs) if content_for?(:breadcrumbs) %>
              <%= content_tag :h1, yield(:title) if content_for?(:title) %>
              <div class="row-fluid">
                <div class="col-12">
                  <%= flash_messages %>
                  <%= content_for?(:content) ? yield(:content) : yield %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'activities/poller' %>
    <%= render 'layouts/tylium/modals' %>
    <%= render partial: 'nodes/modals/add_node', locals: { type: :branch } %>

    <a class="back-fade not-faded" data-behavior="back-fade"></div>

    <%# Always render the Tour content, the user may click on the link in the help menu. %>
    <%# FIXME: re-enable Tour %>
    <%#= render 'layouts/tylium/tour' %>
    
  </body>
</html>
